include ../input/input.pug
include ../button/button.pug
include ../counter/counter.pug

mixin dropdown(options = {})
  - const {name, withButtons, heading, value, description, items, declination} = options;
  
    .dropdown.js-dropdown(data-buttons = withButtons)
      .dropdown__input.js-dropdown__input(data-declination = declination data-value = value)
        +input({heading: heading, description: description, name: name, type: 'text', value: value, expandable: true, readonly: true})
      .dropdown__list.js-dropdown__list
        .dropdown__counter
          each item in items
            .dropdown__counter-item.js-dropdown__counter-item
              +counter([item.sign, item.name, item.declination])
        if withButtons
          .dropdown__buttons
            .dropdown__button-clear.js-dropdown__button-clear
              +button({assignment: 'button', style: 'texted', color: 'violent', text: 'Очистить', type: 'button', name: 'clear'})
            .dropdown__button-apply.js-dropdown__button-apply
              +button({assignment: 'button', style: 'texted', color: 'violent', text: 'Применить', type: 'button', name: 'apply'})


