include ../input/input.pug
include ../btn/btn.pug
include ../counter/counter.pug

mixin dropdown(options = {})
    - const {dropdownType, heading, value, description} = options;
    case dropdownType
        when 'guests'
            .dropdown.js-dropdown
                .dropdown__input.js-dropdown__input
                    +input({heading: heading, description: description, name: 'guests', type: 'text', value: value, dropdown: true, readonly: true})
                .dropdown__list.js-dropdown__list
                    .dropdown__counter
                        +counter(["Взрослые", "Adults"])
                        +counter(["Дети", "Children"])
                        +counter(["Младенцы", "Infants"])
                    .dropdown__btn
                        .dropdown__btn_function_clear
                            +btn({modifier: 'btn_color_violent', text: 'Очистить', type: 'button', name: 'clear'})
                        .dropdown__btn_function_apply
                            +btn({modifier: 'btn_color_violent', text: 'Применить', type: 'button', name: 'apply'})
        when 'roomsBeds'
            .dropdown.js-dropdown
                .dropdown__input.js-dropdown__input
                    +input({heading: heading, description: description, name: 'roomsBeds', type: 'text', value: value, dropdown: true, readonly: true})
                .dropdown__list.js-dropdown__list
                    .dropdown__counter
                        +counter(["Спальни", "Bedrooms"])
                        +counter(["Кровати", "Beds"])
                        +counter(["Ванные комнаты", "Bathrooms"])
