.dropdown {
  position: relative;
  cursor: pointer;
  & input {
    cursor: pointer;
  }
  & .checkmark {
    z-index: -99;
  }
  &__list {
    position: absolute;
    border: 1px solid $dark50;
    border-top: none;
    width: -webkit-fill-available;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 10px 20px $dark5;
    opacity: 0;
    transition: opacity .4s ease;
    background-color: white;
    z-index: -1;
    &_show {
      z-index: 10;
      opacity: 1;
      transition: opacity .4s ease;  
    }
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0px 9px 6px;
  }
  &__counter {
    margin: 4px 6px 8px 14px;
  }
}
