include ../input/input.pug
include ../button/button.pug
include ../counter/counter.pug

mixin dropdown(options = {})
  - 
    const defaultItems = [
      {
        name: 'adults', 
        sign: 'взрослые', 
        declination: 'взрослый, взрослых, взрослых',
        defaultValue: 1,
        isSeparated: false
      },
      {
        name: 'children', 
        sign: 'дети', 
        declination: 'дети, детей, детей',
        defaultValue: 0,
        isSeparated: false
      },
      {
        name: 'infants',
        sign: 'младенцы',
        declination: 'младенец, младенца, младенцев',
        defaultValue: 0,
        isSeparated: false
      }
    ];

    const { 
      name = 'guests', 
      withButtons = true, 
      heading = '', 
      value = '', 
      description = '', 
      items = defaultItems, 
      declination = '',
    } = options;
      
  .dropdown.js-dropdown(data-buttons = withButtons)
    .dropdown__input.js-dropdown__input(data-declination = declination data-value = value)
      +input({
        heading,
        description,
        name,
        type: 'text',
        value,
        expandable: true,
        readonly
      })
    .dropdown__list.js-dropdown__list
      .dropdown__counter
        each item in items
          - const { name, sign, declination, defaultValue, isSeparated } = item
          .dropdown__counter-item.js-dropdown__counter-item
            +counter({
              sign,
              name,
              declination,
              defaultValue,
              isSeparated
            })
      if withButtons
        .dropdown__buttons
          .dropdown__button-clear.js-dropdown__button-clear
            +button({
              style: 'texted',
              color: 'violent',
              text: 'Очистить',
              type: 'button',
              name: 'clear'
            })
          .dropdown__button-apply.js-dropdown__button-apply
            +button({
              style: 'texted',
              color: 'violent',
              text: 'Применить',
              type: 'button',
              name: 'apply'
            })


