include ../input/input.pug

mixin dateDropdown()
    .dateDropdown
        +input({heading: 'date dropdown', name: 'dateDropdown', type: 'text', placeholder: 'ДД.ММ.ГГГГ', required: true, dateDropdown: true})
