.datepicker--cells{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.datepicker--cell{border-radius:4px;box-sizing:border-box;cursor:pointer;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:32px;z-index:1}.datepicker--cell.-focus-{background:#f0f0f0}.datepicker--cell.-current-{color:#4EB5E6}.datepicker--cell.-current-.-focus-{color:#4a4a4a}.datepicker--cell.-current-.-in-range-{color:#4EB5E6}.datepicker--cell.-in-range-{background:rgba(92,196,239,.1);color:#4a4a4a;border-radius:0}.datepicker--cell.-in-range-.-focus-{background-color:rgba(92,196,239,.2)}.datepicker--cell.-disabled-{cursor:default;color:#aeaeae}.datepicker--cell.-disabled-.-focus-{color:#aeaeae}.datepicker--cell.-disabled-.-in-range-{color:#a1a1a1}.datepicker--cell.-disabled-.-current-.-focus-{color:#aeaeae}.datepicker--cell.-range-from-{border:1px solid rgba(92,196,239,.5);background-color:rgba(92,196,239,.1);border-radius:4px 0 0 4px}.datepicker--cell.-range-to-{border:1px solid rgba(92,196,239,.5);background-color:rgba(92,196,239,.1);border-radius:0 4px 4px 0}.datepicker--cell.-selected-,.datepicker--cell.-selected-.-current-{color:#fff;background:#5cc4ef}.datepicker--cell.-range-from-.-range-to-{border-radius:4px}.datepicker--cell.-selected-{border:none}.datepicker--cell.-selected-.-focus-{background:#45bced}.datepicker--cell:empty{cursor:default}.datepicker--days-names{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:8px 0 3px}.datepicker--day-name{color:#FF9A19;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;text-transform:uppercase;font-size:.8em}.-only-timepicker- .datepicker--content,.datepicker--body,.datepicker-inline .datepicker--pointer{display:none}.datepicker--cell-day{width:14.28571%}.datepicker--cells-months{height:170px}.datepicker--cell-month{width:33.33%;height:25%}.datepicker--cells-years,.datepicker--years{height:170px}.datepicker--cell-year{width:25%;height:33.33%}.datepickers-container{position:absolute;left:0;top:0}@media print{.datepickers-container{display:none}}.datepicker{background:#fff;border:1px solid #dbdbdb;box-shadow:0 4px 12px rgba(0,0,0,.15);border-radius:4px;box-sizing:content-box;font-family:Tahoma,sans-serif;font-size:14px;color:#4a4a4a;width:250px;position:absolute;left:-100000px;opacity:0;transition:opacity .3s ease,left 0s .3s,-webkit-transform .3s ease;transition:opacity .3s ease,transform .3s ease,left 0s .3s;transition:opacity .3s ease,transform .3s ease,left 0s .3s,-webkit-transform .3s ease;z-index:100}.datepicker.-from-top-{-webkit-transform:translateY(-8px);transform:translateY(-8px)}.datepicker.-from-right-{-webkit-transform:translateX(8px);transform:translateX(8px)}.datepicker.-from-bottom-{-webkit-transform:translateY(8px);transform:translateY(8px)}.datepicker.-from-left-{-webkit-transform:translateX(-8px);transform:translateX(-8px)}.datepicker.active{opacity:1;-webkit-transform:translate(0);transform:translate(0);transition:opacity .3s ease,left 0s 0s,-webkit-transform .3s ease;transition:opacity .3s ease,transform .3s ease,left 0s 0s;transition:opacity .3s ease,transform .3s ease,left 0s 0s,-webkit-transform .3s ease}.datepicker-inline .datepicker{border-color:#d7d7d7;box-shadow:none;position:static;left:auto;right:auto;opacity:1;-webkit-transform:none;transform:none}.datepicker--content{box-sizing:content-box;padding:4px}.datepicker--pointer{position:absolute;background:#fff;border-top:1px solid #dbdbdb;border-right:1px solid #dbdbdb;width:10px;height:10px;z-index:-1}.datepicker--nav-action:hover,.datepicker--nav-title:hover{background:#f0f0f0}.-top-center- .datepicker--pointer,.-top-left- .datepicker--pointer,.-top-right- .datepicker--pointer{top:calc(100% - 4px);-webkit-transform:rotate(135deg);transform:rotate(135deg)}.-right-bottom- .datepicker--pointer,.-right-center- .datepicker--pointer,.-right-top- .datepicker--pointer{right:calc(100% - 4px);-webkit-transform:rotate(225deg);transform:rotate(225deg)}.-bottom-center- .datepicker--pointer,.-bottom-left- .datepicker--pointer,.-bottom-right- .datepicker--pointer{bottom:calc(100% - 4px);-webkit-transform:rotate(315deg);transform:rotate(315deg)}.-left-bottom- .datepicker--pointer,.-left-center- .datepicker--pointer,.-left-top- .datepicker--pointer{left:calc(100% - 4px);-webkit-transform:rotate(45deg);transform:rotate(45deg)}.-bottom-left- .datepicker--pointer,.-top-left- .datepicker--pointer{left:10px}.-bottom-right- .datepicker--pointer,.-top-right- .datepicker--pointer{right:10px}.-bottom-center- .datepicker--pointer,.-top-center- .datepicker--pointer{left:calc(50% - 10px / 2)}.-left-top- .datepicker--pointer,.-right-top- .datepicker--pointer{top:10px}.-left-bottom- .datepicker--pointer,.-right-bottom- .datepicker--pointer{bottom:10px}.-left-center- .datepicker--pointer,.-right-center- .datepicker--pointer{top:calc(50% - 10px / 2)}.datepicker--body.active{display:block}.datepicker--nav{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;border-bottom:1px solid #efefef;min-height:32px;padding:4px}.-only-timepicker- .datepicker--nav{display:none}.datepicker--nav-action,.datepicker--nav-title{display:-webkit-flex;display:-ms-flexbox;display:flex;cursor:pointer;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.datepicker--nav-action{width:32px;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.datepicker--nav-action.-disabled-{visibility:hidden}.datepicker--nav-action svg{width:32px;height:32px}.datepicker--nav-action path{fill:none;stroke:#9c9c9c;stroke-width:2px}.datepicker--nav-title{border-radius:4px;padding:0 8px}.datepicker--buttons,.datepicker--time{border-top:1px solid #efefef;padding:4px}.datepicker--nav-title i{font-style:normal;color:#9c9c9c;margin-left:5px}.datepicker--nav-title.-disabled-{cursor:default;background:0 0}.datepicker--buttons{display:-webkit-flex;display:-ms-flexbox;display:flex}.datepicker--button{color:#4EB5E6;cursor:pointer;border-radius:4px;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:32px}.datepicker--button:hover{color:#4a4a4a;background:#f0f0f0}.datepicker--time{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:relative}.datepicker--time.-am-pm- .datepicker--time-sliders{-webkit-flex:0 1 138px;-ms-flex:0 1 138px;flex:0 1 138px;max-width:138px}.-only-timepicker- .datepicker--time{border-top:none}.datepicker--time-sliders{-webkit-flex:0 1 153px;-ms-flex:0 1 153px;flex:0 1 153px;margin-right:10px;max-width:153px}.datepicker--time-label{display:none;font-size:12px}.datepicker--time-current{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex:1;-ms-flex:1;flex:1;font-size:14px;text-align:center;margin:0 0 0 10px}.datepicker--time-current-colon{margin:0 2px 3px;line-height:1}.datepicker--time-current-hours,.datepicker--time-current-minutes{line-height:1;font-size:19px;font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;position:relative;z-index:1}.datepicker--time-current-hours:after,.datepicker--time-current-minutes:after{content:'';background:#f0f0f0;border-radius:4px;position:absolute;left:-2px;top:-3px;right:-2px;bottom:-2px;z-index:-1;opacity:0}.datepicker--time-current-hours.-focus-:after,.datepicker--time-current-minutes.-focus-:after{opacity:1}.datepicker--time-current-ampm{text-transform:uppercase;-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;color:#9c9c9c;margin-left:6px;font-size:11px;margin-bottom:1px}.datepicker--time-row{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:11px;height:17px;background:linear-gradient(to right,#dedede,#dedede) left 50%/100% 1px no-repeat}.datepicker--time-row:first-child{margin-bottom:4px}.datepicker--time-row input[type=range]{background:0 0;cursor:pointer;-webkit-flex:1;-ms-flex:1;flex:1;height:100%;padding:0;margin:0;-webkit-appearance:none}.datepicker--time-row input[type=range]::-ms-tooltip{display:none}.datepicker--time-row input[type=range]:hover::-webkit-slider-thumb{border-color:#b8b8b8}.datepicker--time-row input[type=range]:hover::-moz-range-thumb{border-color:#b8b8b8}.datepicker--time-row input[type=range]:hover::-ms-thumb{border-color:#b8b8b8}.datepicker--time-row input[type=range]:focus{outline:0}.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type=range]:focus::-moz-range-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type=range]:focus::-ms-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type=range]::-webkit-slider-thumb{-webkit-appearance:none;box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s;margin-top:-6px}.datepicker--time-row input[type=range]::-moz-range-thumb{box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s}.datepicker--time-row input[type=range]::-ms-thumb{box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s}.datepicker--time-row input[type=range]::-webkit-slider-runnable-track{border:none;height:1px;cursor:pointer;color:transparent;background:0 0}.datepicker--time-row input[type=range]::-moz-range-track{border:none;height:1px;cursor:pointer;color:transparent;background:0 0}.datepicker--time-row input[type=range]::-ms-track{border:none;height:1px;cursor:pointer;color:transparent;background:0 0}.datepicker--time-row input[type=range]::-ms-fill-lower{background:0 0}.datepicker--time-row input[type=range]::-ms-fill-upper{background:0 0}.datepicker--time-row span{padding:0 12px}.datepicker--time-icon{color:#9c9c9c;border:1px solid;border-radius:50%;font-size:16px;position:relative;margin:0 5px -1px 0;width:1em;height:1em}.datepicker--time-icon:after,.datepicker--time-icon:before{content:'';background:currentColor;position:absolute}.datepicker--time-icon:after{height:.4em;width:1px;left:calc(50% - 1px);top:calc(50% + 1px);-webkit-transform:translateY(-100%);transform:translateY(-100%)}.datepicker--time-icon:before{width:.4em;height:1px;top:calc(50% + 1px);left:calc(50% - 1px)}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,.1);color:#ccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:0 0;border:none}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';

/* Slider */


/* .slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
} */


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url(../assets/fonts/slick.eot);
    src: url(../assets/fonts/slick.eot?#iefix) format('embedded-opentype'), url(../assets/fonts/slick.woff) format('woff'), url(../assets/fonts/slick.ttf) format('truetype'), url(../assets/images/slick.svg#slick) format('svg');
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
@charset "UTF-8";
@font-face {
  font-weight: 700;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-bold.eot);
  src: local("☺"), url(../assets/fonts/quicksand-bold.woff) format("woff"), url(../assets/fonts/quicksand-bold.ttf) format("truetype"), url(../assets/fonts/quicksand-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-regular.eot);
  src: local("☺"), url(../assets/fonts/quicksand-regular.woff) format("woff"), url(../assets/fonts/quicksand-regular.ttf) format("truetype"), url(../assets/fonts/quicksand-regular.svg) format("svg"); }

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-bold.eot);
  src: local("☺"), url(../assets/fonts/montserrat-bold.woff) format("woff"), url(../assets/fonts/montserrat-bold.ttf) format("truetype"), url(../assets/fonts/montserrat-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-regular.eot);
  src: local("☺"), url(../assets/fonts/montserrat-regular.woff) format("woff"), url(../assets/fonts/montserrat-regular.ttf) format("truetype"), url(../assets/fonts/montserrat-regular.svg) format("svg"); }

.datepicker--cells, .input__description, .input__element, .form-registration__text, .radio-buttons__label, .toggle__label, .form-confirmation__price span, .form-confirmation__text, .form-confirmation__sum, .form-log-in__text, .room__price span, .room__review span, .calendar__number {
  color: #1f2041;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif; }

.datepicker--day-name, .datepicker--button, .input__heading, .btn, .counter__name, .counter__value, .radio-buttons__name, .toggle__name, .form-confirmation__room-type, .form-confirmation__price, .form-confirmation__letter, .room__room-type, .room__price, .room__review, .rate-button__name, .calendar__all-days, .calendar__number-line2 .calendar__number:nth-child(4), .calendar__number-line4 .calendar__number:nth-child(1),
.calendar__number-line4 .calendar__number:nth-child(5), .link {
  color: #1f2041;
  font-weight: 700;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase; }

.form-confirmation__final, .form-confirmation__rubles, .calendar__month {
  color: #1f2041;
  font-weight: 700;
  font-size: 19px;
  font-family: "Quicksand", "Arial", sans-serif; }

.form-roomsearch__title, .form-registration__title, .form-confirmation__room-number, .form-log-in__title, .room__room-number {
  color: #1f2041;
  font-weight: 700;
  font-size: 24px;
  font-family: "Quicksand", "Arial", sans-serif; }

@font-face {
  font-weight: normal;
  font-family: "MaterialIcons-Regular";
  font-style: normal;
  src: url(../assets/fonts/materialicons-regular.eot);
  src: local("☺"), url(../assets/fonts/materialicons-regular.woff) format("woff"), url(../assets/fonts/materialicons-regular.ttf) format("truetype"), url(../assets/fonts/materialicons-regular.svg) format("svg"); }

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%; }

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: unset; }

ul {
  margin: 0;
  padding-left: 0;
  list-style: none; }

a {
  text-decoration: none; }

.cards {
  background-color: #f4f4f6; }
  .cards__logo-UIkit {
    padding: 30px 0 0 30px; }
  .cards__all-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1200px;
    margin: 71px 140px 0 140px; }
  .cards__registration {
    margin-top: 37px; }
  .cards__confirmation {
    margin-bottom: 39px;
    margin-left: 20px; }
  .cards__log-in {
    margin-left: 20px; }
  .cards__room {
    margin-bottom: 39px;
    margin-left: 20px; }
  .cards__datepicker {
    width: 302px;
    margin-bottom: 38px;
    margin-left: 20px; }

.logo-UIkit {
  display: block; }

.date-dropdown {
  width: 100%;
  cursor: pointer; }
  .date-dropdown_is-two-inputs {
    display: flex;
    justify-content: space-between; }
    .date-dropdown_is-two-inputs > .input {
      width: 47%; }
  .date-dropdown input {
    cursor: pointer; }

.datepicker--cells {
  margin: 14px 15px 0 15px; }

.datepicker--cell {
  height: 40px;
  border-radius: 50%; }

.datepicker--cell.-current- {
  color: #fff;
  background-image: linear-gradient(to bottom, #6fcf97, #66d2ea);
  border-radius: 50%;
  opacity: 1; }

.datepicker--cell.-in-range- {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.25)), to(rgba(139, 164, 249, 0.25))); }

.datepicker--cell.-range-from- {
  position: relative;
  color: #fff;
  background-image: linear-gradient(to bottom, #6fcf97, #66d2ea);
  border: none;
  border-radius: 50%;
  opacity: 1; }
  .datepicker--cell.-range-from-::before {
    position: absolute;
    right: 0;
    width: 20px;
    height: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.15)), to(rgba(139, 164, 249, 0.15)));
    content: ""; }

.datepicker--cell.-range-to- {
  position: relative;
  color: #fff;
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
  border-radius: 50%;
  opacity: 1; }
  .datepicker--cell.-range-to-::before {
    position: absolute;
    left: 0;
    width: 20px;
    height: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.15)), to(rgba(139, 164, 249, 0.15)));
    content: ""; }

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
  opacity: 1; }

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 50%; }

.datepicker--cell.-range-to-.-focus- {
  border: none; }

.datepicker--cell.-range-from-.-focus- {
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
  opacity: 1; }

.datepicker--cell.-selected-.-focus- {
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9); }

.datepicker--days-names {
  margin: 8px 15px 3px; }

.datepicker--day-name {
  color: #bc9cff;
  text-transform: none; }

.datepicker--cell-day {
  opacity: 0.5; }

.datepicker {
  width: 318px;
  font-family: none; }
  @media screen and (max-width: 360px) {
    .datepicker {
      width: 260px; } }

.datepicker--nav {
  padding: 15px 17px 25px 17px;
  border-bottom: none; }

.datepicker--nav-title {
  margin-left: 6px;
  padding: 0 8px;
  color: #1f2041;
  font-weight: 700;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px; }

.datepicker--buttons,
.datepicker--time {
  flex-direction: row-reverse;
  border-top: none; }

.datepicker--nav-title i {
  color: #1f2041; }

.datepicker--buttons {
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 7px; }

.datepicker--button {
  max-width: 100px;
  letter-spacing: -0.01em;
  opacity: 0.5; }
  .datepicker--button:nth-child(2) {
    color: #1f2041;
    opacity: 0.5; }
  .datepicker--button:nth-child(1) {
    margin-right: 8px;
    color: #bc9cff;
    opacity: 1; }

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  opacity: 0.25; }

@media screen and (max-width: 390px) {
  .date-dropdown .input__checkmark {
    display: none; } }

@media screen and (max-width: 390px) {
  .date-dropdown .input__date-dropdown {
    padding-left: 5px; } }

.input {
  position: relative;
  display: flex; }
  .input__heading {
    position: absolute;
    top: -20px;
    left: 1px; }
  .input__description {
    position: absolute;
    top: -23px;
    right: 0;
    color: rgba(31, 32, 65, 0.5);
    font-size: 12px;
    text-transform: uppercase; }
  .input__element {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
    border-color: rgba(31, 32, 65, 0.25);
    border-width: 1px;
    border-radius: 4px;
    outline: none;
    transition: all 0.4s ease; }
    .input__element:focus, .input__element:hover {
      border-color: rgba(31, 32, 65, 0.5);
      transition: border-color 0.4s ease; }
    .input__element::-moz-placeholder {
      opacity: 0.25;
      -moz-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
    .input__element:-ms-input-placeholder {
      opacity: 0.25;
      -ms-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
    .input__element::placeholder {
      opacity: 0.25;
      transition: opacity 0.4s ease; }
    .input__element:hover::-moz-placeholder, .input__element:focus::-moz-placeholder {
      opacity: 0.75;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .input__element:hover:-ms-input-placeholder, .input__element:focus:-ms-input-placeholder {
      opacity: 0.75;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .input__element:hover::placeholder, .input__element:focus::placeholder {
      opacity: 0.75;
      transition: all 0.4s ease; }
    .input__element_border-radius_0 {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .input__element_with-bright-border {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__element_hovered {
      border-color: rgba(31, 32, 65, 0.5); }
      .input__element_hovered::-moz-placeholder {
        opacity: 0.75;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .input__element_hovered:-ms-input-placeholder {
        opacity: 0.75;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .input__element_hovered::placeholder {
        opacity: 0.75;
        transition: all 0.4s ease; }
    @media screen and (max-width: 390px) {
      .input__element {
        padding-right: 5px;
        padding-left: 5px; } }
  .input__date-dropdown::-moz-placeholder {
    color: #1f2041;
    opacity: 0.75;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .input__date-dropdown:-ms-input-placeholder {
    color: #1f2041;
    opacity: 0.75;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .input__date-dropdown::placeholder {
    color: #1f2041;
    opacity: 0.75;
    transition: all 0.4s ease; }
  .input__checkmark {
    position: absolute;
    top: 12px;
    right: 11px; }
  .input__subscription {
    position: absolute;
    top: 12px;
    right: 0; }
  .input__default-button {
    position: absolute;
    top: 8px;
    left: -38px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer; }

.checkmark {
  display: inline-block;
  width: 7px;
  height: 7px;
  color: rgba(31, 32, 65, 0.5);
  background: none;
  border: solid;
  border-width: 0 2px 2px 0; }
  .checkmark_direction_down {
    margin-right: 7px;
    margin-bottom: 2px;
    margin-left: 9.5px;
    transform: rotate(45deg); }
  .checkmark_direction_up {
    margin: 4px 7px -3px 9.5px;
    transform: rotate(225deg); }

.arrow_direction_right {
  position: relative;
  display: block;
  width: 15px;
  height: 2px; }
  .arrow_direction_right::after {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 10px;
    height: 2px;
    transform: rotate(45deg);
    content: ""; }
  .arrow_direction_right::before {
    position: absolute;
    top: 3px;
    right: -3px;
    width: 10px;
    height: 2px;
    transform: rotate(-45deg);
    content: ""; }

.arrow_direction_left {
  position: relative;
  display: block;
  width: 15px;
  height: 2px; }
  .arrow_direction_left::after {
    position: absolute;
    top: 3px;
    right: 7px;
    width: 10px;
    height: 2px;
    transform: rotate(45deg);
    content: ""; }
  .arrow_direction_left::before {
    position: absolute;
    top: -3px;
    right: 7px;
    width: 10px;
    height: 2px;
    transform: rotate(-45deg);
    content: ""; }

.arrow_color_purple {
  background-color: #bc9cff; }
  .arrow_color_purple::after {
    background-color: #bc9cff; }
  .arrow_color_purple::before {
    background-color: #bc9cff; }

.arrow_color_white {
  background-color: white; }
  .arrow_color_white::after {
    background-color: white; }
  .arrow_color_white::before {
    background-color: white; }

.form-roomsearch {
  box-sizing: border-box;
  max-width: 380px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12); }
  .form-roomsearch__title {
    margin-top: 9px;
    margin-bottom: 38px;
    line-height: 132%; }
  .form-roomsearch__dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px; }
  .form-roomsearch__submission {
    margin-top: 32px; }

.dropdown {
  position: relative;
  cursor: pointer; }
  .dropdown input {
    cursor: pointer; }
  .dropdown .checkmark {
    z-index: -99; }
  .dropdown__list {
    position: absolute;
    z-index: -1;
    width: -webkit-fill-available;
    background-color: white;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    opacity: 0;
    transition: opacity 0.4s ease; }
    .dropdown__list_show {
      z-index: 10;
      opacity: 1;
      transition: opacity 0.4s ease; }
  .dropdown__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 0 9px 6px; }
  .dropdown__counter {
    margin: 4px 6px 8px 14px; }

.btn {
  display: block;
  box-sizing: border-box;
  letter-spacing: -0.01em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn_color_gradient {
    width: 99px;
    height: 44px;
    color: #fff;
    background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 22px;
    transition: opacity 0.4s ease; }
    .btn_color_gradient:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease; }
  .btn_size_small {
    width: 196px;
    height: 34px; }
  .btn_with-border {
    width: 95px;
    height: 40px;
    background-image: linear-gradient(white, white), linear-gradient(to bottom, #bc9cff, #8ba4f9);
    background-clip: content-box, border-box;
    background-origin: border-box;
    border: double 2px transparent;
    border-radius: 26px;
    transition: opacity 0.4s ease; }
    .btn_with-border:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease; }
  .btn_size_low {
    width: calc(87px - 4px);
    height: calc(34px - 4px); }
  .btn__text {
    margin: 0 auto;
    color: #bc9cff;
    line-height: 40px; }
    .btn__text_header {
      margin-top: 5px;
      line-height: 30px; }
  .btn_color_violent {
    width: auto;
    height: auto;
    color: #bc9cff; }
  .btn_color_black {
    width: auto;
    height: auto;
    color: #1f2041;
    opacity: 0.5; }
  .btn_size_long {
    width: 100%;
    height: 44px;
    color: #fff;
    background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 22px;
    transition: opacity 0.4s ease; }
    .btn_size_long:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease; }
  .btn__arrow {
    position: relative;
    top: -9px;
    left: 92%;
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff; }
    .btn__arrow::after {
      position: absolute;
      top: -3px;
      right: -3px;
      width: 10px;
      height: 2px;
      background-color: #fff;
      transform: rotate(45deg);
      content: ""; }
    .btn__arrow::before {
      position: absolute;
      top: 3px;
      right: -3px;
      width: 10px;
      height: 2px;
      background-color: #fff;
      transform: rotate(-45deg);
      content: ""; }
    @media screen and (max-width: 420px) {
      .btn__arrow {
        left: 90%; } }
  .btn_hidden {
    display: none; }

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px; }
  .counter__enter {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .counter__value {
    width: 20px;
    padding-right: 7px;
    padding-left: 5px;
    text-align: center;
    border: none;
    outline: none; }
  .counter__btn {
    width: 30px;
    height: 30px;
    color: rgba(31, 32, 65, 0.5);
    background-color: #fff;
    border-color: rgba(31, 32, 65, 0.25);
    border-width: 1px;
    border-radius: 50%;
    outline-style: none;
    cursor: pointer; }
    .counter__btn:hover {
      background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #e9e7e1, #cfcccc); }
    .counter__btn:active {
      width: 30px;
      height: 30px;
      background: -webkit-linear-gradient(top, #979595, #656161 90%);
      box-shadow: 0 0 #d6665c; }
    .counter__btn_value_plus {
      font-size: unset;
      line-height: 1px; }
    .counter__btn_value_minus {
      font-size: unset;
      line-height: 1px; }
      .counter__btn_value_minus:disabled {
        opacity: 0.38; }

.form-registration {
  box-sizing: border-box;
  max-width: 380px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12); }
  .form-registration__title {
    margin-top: 8px;
    margin-bottom: 19px; }
  .form-registration__name {
    margin-bottom: 10px; }
  .form-registration__surname {
    margin-bottom: 10px; }
  .form-registration__gender {
    margin-bottom: 45px; }
  .form-registration__email {
    margin-top: 40px;
    margin-bottom: 10px; }
  .form-registration__offers {
    margin-top: 10px;
    margin-bottom: 17px; }
    @media screen and (max-width: 330px) {
      .form-registration__offers .toggle__input {
        vertical-align: top; } }
  .form-registration__submit {
    margin-bottom: 29px; }
  .form-registration_is-registered {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .form-registration__text {
    color: #000; }
    @media screen and (max-width: 420px) {
      .form-registration__text {
        max-width: 140px; } }

.radio-buttons__item {
  display: inline;
  margin-right: 11px;
  padding-bottom: 5px;
  cursor: pointer; }

.radio-buttons__name {
  margin-bottom: 17px; }

.radio-buttons__input {
  margin: 0;
  vertical-align: middle;
  cursor: pointer; }
  .radio-buttons__input::before {
    position: relative;
    top: -5px;
    left: -1px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 18px;
    visibility: visible;
    content: ""; }
  .radio-buttons__input:checked::before {
    position: relative;
    top: -5px;
    left: -1px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #bc9cff;
    border-radius: 18px;
    visibility: visible;
    content: ""; }
  .radio-buttons__input:checked::after {
    position: relative;
    top: -24px;
    left: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 12px;
    visibility: visible;
    content: ""; }
  .radio-buttons__input:checked + label {
    color: rgba(31, 32, 65, 0.75); }

.radio-buttons__label {
  margin-left: 16px;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer; }

.toggle {
  padding-bottom: 10px; }
  .toggle__name {
    margin-bottom: 15px; }
  .toggle__input {
    position: relative;
    width: 0;
    margin: 0;
    vertical-align: top;
    cursor: pointer; }
    .toggle__input::before {
      display: inline-block;
      box-sizing: border-box;
      width: 40px;
      height: 20px;
      margin: 0;
      border: solid 1px rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      content: ""; }
    .toggle__input::after {
      position: absolute;
      top: 4px;
      left: 5px;
      width: 12px;
      height: 12px;
      background-color: rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      transition: 0.4s;
      content: ""; }
    .toggle__input:checked::before {
      border-color: #bc9cff; }
    .toggle__input:checked::after {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transform: translateX(18px);
      transition: 0.4s; }
  .toggle__label {
    display: inline-block;
    margin-left: 46px;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer; }
    @media screen and (max-width: 420px) {
      .toggle__label {
        max-width: 150px;
        margin-left: 50px; } }

.form-confirmation {
  box-sizing: border-box;
  max-width: 380px;
  padding: 30px 30px 30px 28px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12); }
  .form-confirmation__room-description {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px; }
  .form-confirmation__room-number {
    display: inline-block; }
    .form-confirmation__room-number span {
      font-size: 14px; }
  .form-confirmation__room-type {
    display: inline-block;
    margin-left: 5px;
    color: #bc9cff; }
  .form-confirmation__price {
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px; }
    .form-confirmation__price span {
      color: rgba(31, 32, 65, 0.5);
      font-size: 12px;
      text-transform: none; }
  .form-confirmation__dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
  .form-confirmation__part {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 3px; }
  .form-confirmation__text {
    display: inline-block;
    max-width: 214px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 18px; }
  .form-confirmation__sum {
    display: inline-block;
    margin-left: 5px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 18px; }
  .form-confirmation__total {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 29px;
    margin-left: 3px; }
  .form-confirmation__ellipsis {
    box-sizing: border-box;
    width: 57%;
    height: 1px;
    border: 1px dashed rgba(31, 32, 65, 0.25); }
    @media screen and (max-width: 386px) {
      .form-confirmation__ellipsis {
        width: 40%; } }
  .form-confirmation__guests {
    margin-bottom: 21px; }
  .form-confirmation__submit {
    margin-top: 17px; }
  .form-confirmation__info {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%; }
    @media screen and (max-width: 360px) {
      .form-confirmation__info {
        display: none; } }
  .form-confirmation__letter {
    color: rgba(31, 32, 65, 0.25);
    text-transform: none; }
  .form-confirmation__text-info {
    display: flex; }

.form-log-in {
  box-sizing: border-box;
  max-width: 380px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12); }
  .form-log-in__title {
    margin-top: 8px;
    margin-bottom: 18px; }
  .form-log-in__email {
    margin-bottom: 10px; }
  .form-log-in__submit {
    margin-top: 22px;
    margin-bottom: 28px; }
  .form-log-in__registered {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .form-log-in__text {
    color: #000; }
    @media screen and (max-width: 420px) {
      .form-log-in__text {
        max-width: 115px; } }

.room {
  max-width: 270px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05); }
  .room__card {
    width: 100%;
    height: 151.38px; }
    .room__card:hover .slick-prev {
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%); }
    .room__card:hover .slick-next {
      right: 0;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%); }
  .room__room-description {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 21px 17px 10px 19px; }
  .room__room-number {
    display: inline-block;
    font-size: 19px; }
    .room__room-number span {
      font-size: 14px; }
  .room__room-type {
    display: inline-block;
    margin-left: 5px;
    color: #bc9cff; }
  .room__price {
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px; }
    .room__price span {
      color: rgba(31, 32, 65, 0.5);
      font-size: 12px;
      text-transform: none; }
  .room__review {
    margin-bottom: 2px;
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px; }
    .room__review span {
      color: rgba(31, 32, 65, 0.5);
      font-size: 14px;
      text-transform: none; }
  .room__line {
    height: 1px;
    margin: 0 20px 8px 20px;
    background: rgba(31, 32, 65, 0.1); }
  .room__rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding-bottom: 14px; }

.slick-slider {
  margin: auto; }

.slick-slide {
  width: 270px;
  -o-object-fit: cover;
     object-fit: cover; }

.slick-track {
  height: 151.38px; }

.slick-prev,
.slick-next {
  z-index: 1;
  width: 42px;
  height: 100%;
  border-radius: 5px; }

.slick-prev::before {
  transform: rotate(90deg);
  content: "expand_more"; }

.slick-next::before {
  transform: rotate(-90deg);
  content: "expand_more"; }

.slick-prev::before,
.slick-next::before {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: "MaterialIcons-Regular";
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  background-color: #fff;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"; }

.slick-list {
  border-radius: 4px 4px 0 0; }

.slick-dots li {
  width: 1px; }

.slick-active button::before {
  box-sizing: border-box;
  background-color: white;
  opacity: 1; }

.slick-dots li button::before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 7.5px;
  height: 7.5px;
  color: black;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 1;
  content: "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots {
  bottom: 2px;
  z-index: 1;
  width: 30%;
  margin-left: 190px; }

.slick-dots li.slick-active button::before {
  opacity: 1; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.rate-button__name {
  margin-bottom: 15px; }

.rate-button__stars {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: "MaterialIcons-Regular";
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"; }

.calendar {
  width: 320px;
  height: 369px;
  background-color: #fff;
  border: solid 1px rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(31, 32, 65, 0.05); }
  .calendar__row1 {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 41px; }
    .calendar__row1 .arrow_direction_left {
      margin-top: 12px;
      margin-left: 26px; }
    .calendar__row1 .arrow_direction_right {
      margin-top: 12px;
      margin-right: 26px; }
  .calendar__row2 {
    width: 256px;
    margin-left: 33px; }
  .calendar__row3 {
    display: flex;
    justify-content: space-between;
    width: 291px;
    margin-top: 32px;
    margin-left: 15px; }
  .calendar__all-days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: #bc9cff;
    text-transform: none; }
  .calendar__number {
    width: 5%;
    color: rgba(31, 32, 65, 0.5);
    font-size: 12px;
    text-align: center;
    text-transform: none; }
  .calendar__number-line1, .calendar__number-line2, .calendar__number-line3, .calendar__number-line4, .calendar__number-line5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2px;
    margin-bottom: 25px;
    margin-left: 2px; }
  .calendar__number-line1 .calendar__number:nth-child(1),
  .calendar__number-line1 .calendar__number:nth-child(2),
  .calendar__number-line1 .calendar__number:nth-child(3),
  .calendar__number-line5 .calendar__number:nth-child(7) {
    color: rgba(31, 32, 65, 0.25); }
  .calendar__number-line2 .calendar__number:nth-child(4) {
    position: relative;
    z-index: 1;
    color: white; }
    .calendar__number-line2 .calendar__number:nth-child(4)::before {
      position: absolute;
      bottom: -13px;
      left: -14px;
      z-index: -1;
      width: 40px;
      height: 40px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 50%;
      content: ""; }
  .calendar__number-line4 .calendar__number:nth-child(1),
  .calendar__number-line4 .calendar__number:nth-child(5) {
    position: relative;
    z-index: 1;
    color: white; }
    .calendar__number-line4 .calendar__number:nth-child(1)::before,
    .calendar__number-line4 .calendar__number:nth-child(5)::before {
      position: absolute;
      bottom: -13px;
      left: -14px;
      z-index: -1;
      width: 40px;
      height: 40px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      content: ""; }
  .calendar__number-line4 {
    position: relative;
    z-index: 1; }
    .calendar__number-line4::before {
      position: absolute;
      bottom: -13px;
      left: 5px;
      z-index: -1;
      width: 162px;
      height: 40px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0.25;
      content: ""; }

.link {
  display: block;
  box-sizing: border-box;
  letter-spacing: -0.01em;
  text-align: center;
  background-clip: content-box, border-box;
  background-origin: border-box;
  border: double 2px transparent;
  cursor: pointer;
  transition: opacity 0.4s ease; }
  .link:hover {
    opacity: 0.5;
    transition: opacity 0.4s ease; }
  .link_size_big {
    width: 95px;
    height: 45px;
    color: #bc9cff;
    line-height: 40px;
    background-image: linear-gradient(white, white), linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 26px; }
  .link_size_small {
    width: 95px;
    height: 34px;
    color: #bc9cff;
    line-height: 32px;
    background-image: linear-gradient(white, white), linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 26px; }
  .link_color_purple {
    width: 196px;
    height: 36px;
    color: #fff;
    line-height: 32px;
    background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 22px; }


/*# sourceMappingURL=cards.css.map*/