@charset "UTF-8";
@font-face {
  font-weight: 700;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-bold.eot);
  src: local("☺"), url(../assets/fonts/quicksand-bold.woff) format("woff"), url(../assets/fonts/quicksand-bold.ttf) format("truetype"), url(../assets/fonts/quicksand-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-regular.eot);
  src: local("☺"), url(../assets/fonts/quicksand-regular.woff) format("woff"), url(../assets/fonts/quicksand-regular.ttf) format("truetype"), url(../assets/fonts/quicksand-regular.svg) format("svg"); }

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-bold.eot);
  src: local("☺"), url(../assets/fonts/montserrat-bold.woff) format("woff"), url(../assets/fonts/montserrat-bold.ttf) format("truetype"), url(../assets/fonts/montserrat-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-regular.eot);
  src: local("☺"), url(../assets/fonts/montserrat-regular.woff) format("woff"), url(../assets/fonts/montserrat-regular.ttf) format("truetype"), url(../assets/fonts/montserrat-regular.svg) format("svg"); }

.type-block__name, .type-block__description_font-body {
  color: #1f2041;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif; }

.type-block__description_h3 {
  color: #1f2041;
  font-weight: 700;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase; }

.color-block__name, .type-block__description_h2 {
  color: #1f2041;
  font-weight: 700;
  font-size: 19px;
  font-family: "Quicksand", "Arial", sans-serif; }

.type-block__description_h1 {
  color: #1f2041;
  font-weight: 700;
  font-size: 24px;
  font-family: "Quicksand", "Arial", sans-serif; }

@font-face {
  font-weight: normal;
  font-family: "MaterialIcons-Regular";
  font-style: normal;
  src: url(../assets/fonts/materialicons-regular.eot);
  src: local("☺"), url(../assets/fonts/materialicons-regular.woff) format("woff"), url(../assets/fonts/materialicons-regular.ttf) format("truetype"), url(../assets/fonts/materialicons-regular.svg) format("svg"); }

html,
body {
  height: 100%; }

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: unset; }

ul {
  margin: 0;
  padding-left: 0;
  list-style: none; }

a {
  text-decoration: none; }

.color-block__name {
  margin-bottom: 6px; }

.color-block__hex {
  color: #1f2041;
  font-size: 19px;
  font-family: "Conv_Quicksand-Regular", sans-serif; }

.color-block__description {
  margin-left: 40px; }

.color-block__color {
  width: 70px;
  height: 70px;
  border-radius: 6px; }

.color-block__color_dark_5 {
  background-color: rgba(31, 32, 65, 0.05); }

.color-block__color_dark_25 {
  background-color: rgba(31, 32, 65, 0.25); }

.color-block__color_dark_50 {
  background-color: rgba(31, 32, 65, 0.5); }

.color-block__color_dark_75 {
  background-color: rgba(31, 32, 65, 0.75); }

.color-block__color_dark_100 {
  background-color: #1f2041; }

.color-block__color_green {
  background-color: #6fcf97; }

.color-block__color_purple {
  background-color: #bc9cff; }

.colors__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.colors__item:nth-last-child(1) {
  margin-bottom: 0; }

.colors-types__logo {
  margin: 30px 0 0 30px; }

.colors-types__item {
  display: flex;
  justify-content: space-between;
  padding: 67px 191px 145px 150px; }

.logo-UIkit {
  display: block; }

.type-block__name {
  width: 40px;
  margin-right: 30px;
  line-height: normal;
  text-align: right;
  opacity: 0.25; }
  .type-block__name_fsize_12 {
    font-size: 12px; }
  .type-block__name_fsize_14 {
    font-size: 14px; }
  .type-block__name_fsize_19 {
    font-size: 19px; }
  .type-block__name_fsize_24 {
    font-size: 24px; }
  .type-block__name_line-height_24 {
    line-height: 24px; }

.type-block__description_font-body {
  width: 308px; }

.type-block__description_h1 {
  width: 336px; }

.type-block__description_h2 {
  width: 282px; }

.types__item {
  display: flex;
  margin-bottom: 50px; }


/*# sourceMappingURL=colors-type.css.map*/