@charset "UTF-8";
@font-face {
  font-weight: 700;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-bold.eot);
  src: local("☺"), url(../assets/fonts/quicksand-bold.woff) format("woff"), url(../assets/fonts/quicksand-bold.ttf) format("truetype"), url(../assets/fonts/quicksand-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-regular.eot);
  src: local("☺"), url(../assets/fonts/quicksand-regular.woff) format("woff"), url(../assets/fonts/quicksand-regular.ttf) format("truetype"), url(../assets/fonts/quicksand-regular.svg) format("svg"); }

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-bold.eot);
  src: local("☺"), url(../assets/fonts/montserrat-bold.woff) format("woff"), url(../assets/fonts/montserrat-bold.ttf) format("truetype"), url(../assets/fonts/montserrat-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-regular.eot);
  src: local("☺"), url(../assets/fonts/montserrat-regular.woff) format("woff"), url(../assets/fonts/montserrat-regular.ttf) format("truetype"), url(../assets/fonts/montserrat-regular.svg) format("svg"); }

.header__user-name, .nav-menu__link, .nav-menu__sub-link, .footer-tab__text, .input__description, .input__element {
  color: #1f2041;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif; }

.button, .nav-menu__link_active, .input__heading {
  color: #1f2041;
  font-weight: 700;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase; }

@font-face {
  font-weight: normal;
  font-family: "MaterialIcons-Regular";
  font-style: normal;
  src: url(../assets/fonts/materialicons-regular.eot);
  src: local("☺"), url(../assets/fonts/materialicons-regular.woff) format("woff"), url(../assets/fonts/materialicons-regular.ttf) format("truetype"), url(../assets/fonts/materialicons-regular.svg) format("svg"); }

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%; }

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: unset; }

ul {
  margin: 0;
  padding-left: 0;
  list-style: none; }

a {
  text-decoration: none; }

.headers-footers {
  background-color: #f4f4f6; }
  .headers-footers__not-registered {
    margin-top: 62px; }
  .headers-footers__registered {
    margin-top: 40px; }
  .headers-footers__logo-UIkit {
    padding: 30px 0 0 30px; }
  .headers-footers__footer-wide {
    margin-top: 40px;
    margin-bottom: 40px; }
  .headers-footers__footer-tab {
    padding-bottom: 140px; }
    .headers-footers__footer-tab .footer-tab {
      display: block; }
    .headers-footers__footer-tab .footer-tab__content {
      padding-top: 120px; }

.logo-UIkit {
  display: block; }

.header {
  background-color: white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05); }
  .header__container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px; }
    .header__container_opened {
      padding: 0; }
  .header__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0; }
  .header__with-nav-menu-buttons {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 992px) {
      .header__with-nav-menu-buttons {
        position: absolute;
        top: 65px;
        right: -110%;
        z-index: 3;
        display: none;
        width: 100%;
        overflow: auto;
        background: white;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        transition: all 0.4s ease; } }
  @media screen and (max-width: 992px) {
    .header__with-opened-menu {
      right: 0;
      display: block; } }
  .header__link {
    margin-right: 20px; }
    @media screen and (max-width: 992px) {
      .header__link {
        display: none; } }
    .header__link .button_bordered {
      width: 83px;
      height: 29px; }
  .header__link-sign {
    width: 196px; }
    @media screen and (max-width: 992px) {
      .header__link-sign {
        display: none; } }
  .header__line {
    height: 30px;
    margin-right: 20px;
    border-color: #1f2041;
    border-left: 1px solid;
    opacity: 0.1; }
    @media screen and (max-width: 992px) {
      .header__line {
        display: none; } }
  .header__user-name {
    opacity: 0.5; }
    @media screen and (max-width: 992px) {
      .header__user-name {
        display: none; } }
  .header__burger {
    display: none; }
    @media screen and (max-width: 992px) {
      .header__burger {
        position: relative;
        display: block;
        width: 40px;
        height: 35px; }
        .header__burger span, .header__burger::after, .header__burger::before {
          position: absolute;
          width: 100%;
          height: 3px;
          margin: 0 auto;
          background: #515758; }
        .header__burger span {
          top: 16px; }
        .header__burger::after, .header__burger::before {
          content: ""; }
        .header__burger::after {
          bottom: 5px; }
        .header__burger::before {
          top: 5px; } }
    .header__burger_opened {
      margin-left: 20px; }
  @media screen and (max-width: 992px) {
    .header_with-opened-burger span {
      opacity: 0;
      transition: 0.5s; }
    .header_with-opened-burger::before {
      top: 16px;
      transform: rotate(38deg);
      transition: 0.4s; }
    .header_with-opened-burger::after {
      bottom: 16px;
      transform: rotate(-38deg);
      transition: 0.4s; } }
  @media screen and (max-width: 992px) {
    .header .checkmark,
    .header .nav-menu__sub-list {
      display: none; } }
  @media screen and (max-width: 992px) {
    .header .nav-menu__list {
      display: block;
      text-align: left; } }
  @media screen and (max-width: 992px) {
    .header .nav-menu__list li {
      margin: 40px 0 40px 20px; } }

.fixed-page {
  overflow: hidden; }

.logo {
  height: 40px; }

.button {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  background-color: #fff;
  border: none;
  cursor: pointer; }
  .button:disabled {
    opacity: 0.5;
    transition: opacity 0.4s ease; }
  .button_bordered {
    position: relative;
    color: #bc9cff; }
    .button_bordered::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 2px;
      background: linear-gradient(to top, #8ba4f9, #bc9cff);
      border-radius: 26px;
      content: "";
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
              mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
              mask-composite: exclude; }
    .button_bordered:hover::before {
      opacity: 0.5;
      transition: opacity 0.4s ease; }
  .button_directed {
    position: relative;
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 22px;
    transition: opacity 0.4s ease; }
    .button_directed:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease; }
    .button_directed::before {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      font-weight: normal;
      font-size: 24px;
      font-family: "MaterialIcons-Regular";
      font-style: normal;
      line-height: 1;
      direction: ltr;
      letter-spacing: normal;
      white-space: nowrap;
      text-transform: none;
      word-wrap: normal;
      background-color: #fff;
      -webkit-background-clip: text;
      content: "arrow_forward";
      -webkit-text-fill-color: transparent;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: "liga"; }
    @media (max-width: 420px) {
      .button_directed {
        padding-right: 15px;
        padding-left: 15px; }
        .button_directed::before, .button_directed::after {
          content: none; } }
  .button_solid {
    color: #fff;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    border-radius: 22px; }
    .button_solid:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease; }
  .button_texted {
    padding: 0; }
  .button_color_violent {
    width: auto;
    height: auto;
    color: #bc9cff; }
  .button_color_black {
    width: auto;
    height: auto;
    color: #1f2041;
    opacity: 0.5; }
  .button_size_small {
    padding-top: 9px;
    padding-bottom: 10px; }
  .button_size_big {
    padding-top: 14px;
    padding-bottom: 15px; }
  .button_hidden {
    display: none; }

.nav-menu__list {
  display: flex; }

.nav-menu__checkmark {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: "MaterialIcons-Regular";
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  vertical-align: middle;
  word-wrap: normal;
  background-color: rgba(31, 32, 65, 0.75);
  -webkit-background-clip: text;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s transform;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"; }
  .nav-menu__checkmark_direction_up {
    transform: rotate(180deg); }

.nav-menu__item {
  position: relative;
  margin-right: 20px; }

.nav-menu__link {
  cursor: pointer;
  opacity: 0.5; }
  .nav-menu__link_active {
    font-size: 14px;
    text-transform: none;
    opacity: 0.75; }
  .nav-menu__link_opened {
    font-size: 18px; }

.nav-menu__sub-list {
  position: absolute;
  left: -5px;
  min-width: 100%;
  padding-left: 5px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.4s ease; }

.nav-menu__sub-link {
  opacity: 0.5; }

.nav-menu__sub-item {
  padding-top: 10px; }

.show {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.4s ease; }

.footer {
  flex: 0 0 auto; }

.footer-tab {
  display: none;
  max-width: 768px;
  height: 367px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05); }
  @media screen and (max-width: 768px) {
    .footer-tab {
      display: block;
      height: auto;
      padding: 50px; } }
  .footer-tab__content {
    margin: auto;
    text-align: center; }
  .footer-tab__text {
    padding: 20px 0 24px;
    opacity: 0.75; }
  .footer-tab__social-nets {
    padding-right: 22px; }

.social-nets__link {
  padding-left: 22px; }

.input {
  position: relative;
  display: flex; }
  .input__heading {
    position: absolute;
    top: -20px;
    left: 1px; }
  .input__description {
    position: absolute;
    top: -23px;
    right: 0;
    color: rgba(31, 32, 65, 0.5);
    font-size: 12px;
    text-transform: uppercase; }
  .input__element {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
    border-color: rgba(31, 32, 65, 0.25);
    border-width: 1px;
    border-radius: 4px;
    outline: none;
    transition: all 0.4s ease; }
    .input__element:focus, .input__element:hover {
      border-color: rgba(31, 32, 65, 0.5);
      transition: border-color 0.4s ease; }
    .input__element::-moz-placeholder {
      opacity: 0.25;
      -moz-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
    .input__element:-ms-input-placeholder {
      opacity: 0.25;
      -ms-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
    .input__element::placeholder {
      opacity: 0.25;
      transition: opacity 0.4s ease; }
    .input__element:hover::-moz-placeholder, .input__element:focus::-moz-placeholder {
      opacity: 0.75;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .input__element:hover:-ms-input-placeholder, .input__element:focus:-ms-input-placeholder {
      opacity: 0.75;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .input__element:hover::placeholder, .input__element:focus::placeholder {
      opacity: 0.75;
      transition: all 0.4s ease; }
    .input__element_border-radius_0 {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .input__element_with-bright-border {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__element_hovered {
      border-color: rgba(31, 32, 65, 0.5); }
      .input__element_hovered::-moz-placeholder {
        opacity: 0.75;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .input__element_hovered:-ms-input-placeholder {
        opacity: 0.75;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .input__element_hovered::placeholder {
        opacity: 0.75;
        transition: all 0.4s ease; }
    @media screen and (max-width: 390px) {
      .input__element {
        padding-right: 5px;
        padding-left: 5px; } }
  .input__date-dropdown {
    position: relative; }
    .input__date-dropdown::-moz-placeholder {
      color: #1f2041;
      opacity: 0.75;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .input__date-dropdown:-ms-input-placeholder {
      color: #1f2041;
      opacity: 0.75;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .input__date-dropdown::placeholder {
      color: #1f2041;
      opacity: 0.75;
      transition: all 0.4s ease; }
  .input__checkmark {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 10px;
    font-weight: normal;
    font-size: 24px;
    font-family: "MaterialIcons-Regular";
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    background-color: rgba(31, 32, 65, 0.5);
    -webkit-background-clip: text;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga"; }
  .input__subscription {
    position: absolute;
    top: 12px;
    right: 0; }
  .input__default-button {
    position: absolute;
    top: -12px;
    right: 0;
    display: inline-block;
    padding: 10px;
    color: #bc9cff;
    font-weight: normal;
    font-size: 24px;
    font-family: "MaterialIcons-Regular";
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    background: #fff;
    background-color: #bc9cff;
    -webkit-background-clip: text;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga"; }

