@charset "UTF-8";
@font-face {
  font-weight: 700;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-bold.eot);
  src: local("☺"), url(../assets/fonts/quicksand-bold.woff) format("woff"), url(../assets/fonts/quicksand-bold.ttf) format("truetype"), url(../assets/fonts/quicksand-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Quicksand";
  font-style: "normal";
  src: url(../assets/fonts/quicksand-regular.eot);
  src: local("☺"), url(../assets/fonts/quicksand-regular.woff) format("woff"), url(../assets/fonts/quicksand-regular.ttf) format("truetype"), url(../assets/fonts/quicksand-regular.svg) format("svg"); }

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-bold.eot);
  src: local("☺"), url(../assets/fonts/montserrat-bold.woff) format("woff"), url(../assets/fonts/montserrat-bold.ttf) format("truetype"), url(../assets/fonts/montserrat-bold.svg) format("svg"); }

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: "normal";
  src: url(../assets/fonts/montserrat-regular.eot);
  src: local("☺"), url(../assets/fonts/montserrat-regular.woff) format("woff"), url(../assets/fonts/montserrat-regular.ttf) format("truetype"), url(../assets/fonts/montserrat-regular.svg) format("svg"); }

.content {
  color: #1f2041;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif; }

@font-face {
  font-weight: normal;
  font-family: "MaterialIcons-Regular";
  font-style: normal;
  src: url(../assets/fonts/materialicons-regular.eot);
  src: local("☺"), url(../assets/fonts/materialicons-regular.woff) format("woff"), url(../assets/fonts/materialicons-regular.ttf) format("truetype"), url(../assets/fonts/materialicons-regular.svg) format("svg"); }

