extends ../../templates/template.pug
include ../../components/room-info/room-info.pug
include ../../components/review/review.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/diagram/diagram.pug
include ../../components/confirmation-form/confirmation-form.pug

block title
  title Room Details

block main
  main.room-details
    section.room-details__photo
      .room-details__main-photo-part
        img(src=require("./img/img1.jpg").default, alt="Photo of your room").room-details__image
      .room-details__minor-photo-part
        .room-details__mirrored-photo
          img(src=require("./img/img2.jpg").default, alt="Photo of your room").room-details__image
        .room-details__minor-photo
          img(src=require("./img/img3.jpg").default, alt="Photo of your room").room-details__image
    section.room-details__content
      .room-details__room-info
        .room-details__impressions-info
          .room-details__info
            +room-info({title: 'Сведения о номере', roomInfo: [
              { name:'Комфорт', description: 'Шумопоглощающие стены', image: 'insert_emoticon' }, 
              { name:'Удобство', description: 'Окно в каждой из спален', image: 'location_city' },
              { name:'Уют', description: 'Номер оснащён камином', image: 'whatshot' }
            ]})              
          .room-details____diagram-container
            h1.room-details__impression Впечатления от номера
            .room-details__diagram.js-room-details__diagram
              +diagram({
                declination: 'голос, голоса, голосов',
                dataArray: 
                [
                  {
                    name: 'amazing',
                    value: '65',
                    sign: 'Великолепно',
                    gradientColors: {from: "#6FCF97", to: "#66D2EA"}
                  },
                  {
                    name: 'good',
                    value: '130',
                    sign: 'Хорошо',
                    gradientColors: {from: "#FFE39C", to: "#FFBA9C"}
                  },
                  {
                    name: 'notbad',
                    value: '65',
                    sign: 'Удовлетворительно',
                    gradientColors: {from: "#BC9CFF", to: "#8BA4F9"}
                  },
                  {
                    name: 'bad',
                    value: '0',
                    sign: 'Разочарован',
                    gradientColors: {from: "#909090", to: "#3D4975"}
                  }
                ]
              })
        .room-details__review
          .room-details__review-title
            h2.room-details__review-text Отзывы посетителей номера
            p.room-details__review-number-of-reviews 2 отзыва
          .room-details__review-block
            .room-details__review-block-item.js-room-details__review-block-item
              +review({
                nameOfFile: 'sarafanov',
                title: 'Мурад Сарафанов',
                date: '5 дней назад',
                numberOfLikes: '1',
                textOfReview: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
              })
            .room-details__review-block-item.js-room-details__review-block-item
              +review({
                nameOfFile: 'steklyshkova',
                title: 'Патрисия Стёклышкова',
                date: 'Неделю назад',
                numberOfLikes: '2',
                textOfReview: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
              })
        .room-details__rules-cancellation    
          .room-details__rules
            h2.room-details__rules-title Правила
            .room-details__rules-list
              +bullet-list({
                list: [
                  'Нельзя с питомцами',
                  'Без вечеринок и мероприятий',
                  'Время прибытия — после 13:00, а выезд до 12:00'
                ]
              })
          .room-details__cancellation
            h2.room-details__cancellation-title Отмена
            p.room-details__cancellation-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .room-details__confirmation
        .room-details__confirmation-form.js-room-details__confirmation-form
          +confirmation-form({
            roomNumber: '888',
            roomType: 'люкс',
            costPerDay: '9 990₽',
            unit: 'в сутки',
            calculation: '9 990₽ х 4 суток',
            costForStaying: '39 960₽',
            discount: '2 179₽',
            serviceFee: '0₽',
            additionalServiceFee: '300₽', 
            totalCost: '38 081₽' 
          })
    .room-details__grey-line
