.dropdown {
    position: relative;
    &__list {
        position: absolute;
        border: 1px solid $dark50;
        border-top: none;
        width: -webkit-fill-available;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 10px 20px $dark5;
        display: none;
        z-index: 1;
        background-color: white;
        &_show {
            display: block;
        }
    }
    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 22px 0px 9px 6px;
    }
    &__counter {
        margin: 4px 6px 21px 14px;
    }
}