.pagination {
  user-select: none;
  &__data {
    display: none;
  }
  &__legend {
    @extend %font-body;
    margin-top: 10px;
    color: $dark75;
    text-transform: none;
  }
  &__container {
    @extend %font-body;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    color: $dark75;
    text-transform: none;
    .paginationjs {
      &-pages {
        & > ul {
          display: flex;
          min-width: 241px;
        }
      }
      &-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border-radius: 20px;
        & > a {
          display: inline-block;
          font-size: 24px;
          font-family: "MaterialIcons-Regular";
          text-transform: none;
          background-color: #fff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      &-ellipsis {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        & > a {
          @extend %font-body;
          color: $dark50;
          font-size: 12px;
        }
      }
      &-next {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border-radius: 20px;
        & > a {
          display: inline-block;
          font-weight: normal;
          font-size: 24px;
          font-family: "MaterialIcons-Regular";
          text-transform: none;
          background-color: #fff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &-page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        & > a {
          @extend %font-body;
          color: $dark50;
          font-size: 12px;
        }
        &.active {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          border-radius: 20px;
          & > a {
            color: white;
          }
        }
      }
      &__legend {
        // @extend %font-body;
        // margin-top: 10px;
        // color: $dark75;
        // text-transform: none;
      }
    }
  }
}
