.pagination__data {
  display: none;
}

.paginationjs-pages {
  & > ul {
    display: flex;
    min-width: 241px;
  }
}
&-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 20px;
  & > a {
    display: inline-block;
    font-weight: normal;
    font-size: 24px;
    font-family: "MaterialIcons-Regular";
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    background-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
  }
}

.paginationjs {
  &-ellipsis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    & > a {
      @extend %font-body;
      color: $dark50;
      font-size: 12px;
    }
  }
  &-next {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 20px;
    & > a {
      display: inline-block;
      font-weight: normal;
      font-size: 24px;
      font-family: "MaterialIcons-Regular";
      font-style: normal;
      line-height: 1;
      direction: ltr;
      letter-spacing: normal;
      white-space: nowrap;
      text-transform: none;
      word-wrap: normal;
      background-color: #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: "liga";
    }
  }
  &-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    & > a {
      @extend %font-body;
      color: $dark50;
      font-size: 12px;
    }
    &.active {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 20px;
      & > a {
        color: white;
      }
    }
  }
}

.pagination__container .paginationjs__legend {
  @extend %font-body;
  margin-top: 10px;
  margin-left: 5px;
  color: $dark75;
  text-transform: none;
}
