@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../nullstyle.scss";
@import "Components/header/header.scss";
@import "Components/logo/logo.scss";
@import "Components/button/button.scss";
@import "Components/nav-menu/nav-menu.scss";
@import "Components/footer/footer.scss";
@import "Components/social-nets/social-nets.scss";
@import "Components/room-search-form/room-search-form.scss";
@import "Components/date-dropdown/date-dropdown.scss";
@import "Components/dropdown/dropdown.scss";
@import "Components/input/input.scss";
@import "Components/counter/counter.scss";
@import "Components/mobile-footer/mobile-footer.scss";
@import "Components/desktop-footer/desktop-footer.scss";

.landing-page {
  flex: 1 0 auto;
  min-height: 830px;
  background: url("./landing-page.jpg") no-repeat;
  background-position: 50% 82%;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 70px 0 21px;
  }
  &__form {
    padding-right: 20px;
    padding-left: 20px;
    @media screen and (max-width: 390px) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__text {
    align-self: end;
    width: 260px;
    padding-right: 14px;
    padding-left: 20px;
    color: $dark75;
    line-height: 24px;
    text-align: end;
    @extend %font-body;
    @media screen and (max-width: 339px) {
      margin-top: 278px;
    }
  }
}
