@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../nullstyle.scss";
@import "../../components/header/header.scss";
@import "../../components/logo/logo.scss";
@import "../../components/btn/btn.scss";
@import "../../components/nav-menu/nav-menu.scss";
@import "../../components/footer/footer.scss";
@import "../../components/social-nets/social-nets.scss";
@import "../../components/arrow/arrow.scss";
@import "../../components/checkmark/checkmark.scss";
@import "../../components/form-roomsearch/form-roomsearch.scss";
@import "../../components/date-dropdown/date-dropdown.scss";
@import "../../components/dropdown/dropdown.scss";
@import "../../components/input/input.scss";
@import "../../components/counter/counter.scss";
@import "../../components/footer-tab/footer-tab.scss";

.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  &__image {
    flex: 1 0 auto;
    height: 830px;
    background: url("./landing-page.png") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
    padding: 70px 0 21px;
  }
  &__form {
    @media screen and (max-width: 576px) {
      left: 50%;
      transform: translate(-50%, 0);
      width: fit-content;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__text {
    align-self: flex-end;
    margin-top: 318px;
    @extend %font-body;
    line-height: 24px;
    width: 260px;
    text-align: end;
    color: $dark75;
  }
  &__footer {
    flex: 0 0 auto;
  }
}
