@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../nullstyle.scss";
@import "Components/header/header.scss";
@import "Components/logo/logo.scss";
@import "Components/button/button.scss";
@import "Components/nav-menu/nav-menu.scss";
@import "Components/footer/footer.scss";
@import "Components/social-nets/social-nets.scss";
@import "Components/arrow/arrow.scss";
@import "Components/checkmark/checkmark.scss";
@import "Components/room-search-form/room-search-form.scss";
@import "Components/date-dropdown/date-dropdown.scss";
@import "Components/dropdown/dropdown.scss";
@import "Components/input/input.scss";
@import "Components/counter/counter.scss";
@import "Components/footer-tab/footer-tab.scss";
@import "Components/footer-big/footer-big.scss";

.landing-page {
  flex: 1 0 auto;
  height: 830px;
  background: url("./landing-page.png") no-repeat;
  background-position: bottom;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
    padding: 70px 0 21px;
  }
  &__form {
    padding-right: 20px;
    padding-left: 20px;
  }
  &__text {
    align-self: flex-end;
    width: 260px;
    margin-top: 318px;
    padding-right: 20px;
    padding-left: 20px;
    color: $dark75;
    line-height: 24px;
    text-align: end;
    @extend %font-body;
    @media screen and (max-width: 339px) {
      margin-top: 278px;
    }
  }
}
