extends ../../templates/template.pug
include ../../components/form-roomsearch/form-roomsearch.pug

block data 
    - const pageName = "landing-page"

block title
    title Landing page

block main
    main.landing-page__image
        .landing-page__wrapper
            .landing-page__form
                +form-roomsearch()
            p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
