extends ../../templates/template-UIKit.pug
include ../../components/logo-uikit/logo-uikit.pug
include ../../components/color-block/color-block.pug
include ../../components/type-block/type-block.pug

block title
  title Colors&type

block content
  .colors-type
    .colors-type__logo
      +logo-uikit()
    .colors-type__item
      .colors-type__colors
        +color-block({name: "dark", hex: "#1F2041", text: "Dark Shade 100%"})
        +color-block({name: "light-dark", hex: "#1F2041", text: "Dark Shade 75%"})
        +color-block({name: "grey", hex: "#1F2041", text: "Dark Shade 50%"})
        +color-block({name: "light-grey", hex: "#1F2041", text: "Dark Shade 25%"})
        +color-block({name: "light", hex: "#1F2041", text: "Dark Shade 5%"})
        +color-block({name: "purple", hex: "#BC9CFF", text: "Purple"})
        +color-block({name: "green", hex: "#6FCF97", text: "Green"})
      .colors-type__types
        +type-block({name: "H1", text: "This one is the sub-section or widget title"})
        +type-block({name: "H2", text: "Next one is the item title inside widgets"})
        +type-block({name: "H3", text: "This is a label or CTA text"})
        +type-block({name: "Body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})
