@import "fonts";
@import "nullstyle";
@import "colors";

// Header
.UIkit-header__logo {
    padding: 30px 0 67px 30px;
}

.logo {
    display: block;    
}

// Body
.content__item {
    display: flex;
    justify-content: space-between;
    margin: 0 191px 145px 150px;
}

// Colors-block
.colors__item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.colors__item:nth-last-child(1) {
    margin-bottom: 0px;
}

.color-block {
    &__color {
        border-radius: 6px;
        height: 70px;
        width: 70px;
        &_dark_100 {
            @extend %color-dark100;
        }
        &_dark_75 {
            @extend %color-dark75;
        }
        &_dark_50 {
            @extend %color-dark50;
        }
        &_dark_25 {
            @extend %color-dark25;
        }
        &_dark_5 {
            @extend %color-dark5;
        }
        &_purple {
            @extend %color-purple;
        }
        &_green {
            @extend %color-green;
        }
    }
    &__description {
        margin-left: 40px;
    }
    &__name {
        @extend %h2;
        margin-bottom: 6px;
    }
    &__hex {
        font-family: 'Conv_Quicksand-Regular',Sans-Serif;
        color: #1F2041;
        font-size: 19px;
    }
}

// Type-block 
.types__item {
    display: flex;
    margin-bottom: 50px;

}

.type-block {
    &_shift {
        margin-bottom: 47px;
    }
    &__name {
        @extend %font-body;
        opacity: 25%;
        margin-right: 30px;
        width: 40px;
        text-align: right;
        line-height: normal;

        @each $fsize in (24),
                        (19),
                        (12),
                        (14) {
        &_fsize_#{$fsize} {
        font-size: $fsize+px;
        }
        }
        &_line-height_24 {
            line-height: 24px;
        }
    }
    @each $font in (h1),
                    (h2),
                    (h3),
                    (font-body) {
    &__description_#{$font} {
    @extend %#{$font};
    }
    }
}