mixin input(options = {})
  - const {heading, description, name, value, placeholder, expandable, subscription, type, required, readonly} = options
  
  .input
    if heading
      .input__heading= heading
    if description
      .input__description= description
    input.input__element.js-input__element(name = name type = type value = value placeholder = placeholder readonly = readonly subscription = subscription dateDropdown = dateDropdown required = required)
    if expandable
      span.input__checkmark expand_more
    if subscription
      .input__subscription
        button(type="submit").input__default-button arrow_forward
  