//-
  options.isMasked - masked input
  options.name - form element name
  options.type - input type
  options.value - input value
  options.placeholder - input placeholder
  options.pattern - input pattern
  options.dateMask - masked text field
  options.tabindex - input tabindex
  options.required - input required
  options.label - подпись к checkbox и radio
  options.dropdown - if it is a dropdown
  options.subscription - if it is a subscription text field with arrow

mixin input(options = {})
  - const {heading, description, name, value, placeholder, expandable, subscription, dateDropdown, type, fromOrTo, required, readonly} = options
  if dateDropdown
    .input
      if heading
        .input__heading= heading
      case name
        when 'twoInputs'
          if fromOrTo == 'from'
            input.input__element.js-input__element.input__date-dropdown.js-input__date-dropdown_value_from(value = value heading = heading name = name type = type placeholder = placeholder readonly = 'readonly' dateDropdown = dateDropdown required = required)
          else
            input.input__element.js-input__element.input__date-dropdown.js-input__date-dropdown_value_to(value = value heading = heading name = name type = type placeholder = placeholder readonly = 'readonly' dateDropdown = dateDropdown required = required)
          span.input__checkmark expand_more

        when 'oneInput'
          input.input__element.js-input__element.input__date-dropdown.js-input__date-dropdown_with-range(value = value heading = heading name = name type = type placeholder = placeholder readonly = 'readonly' dateDropdown = dateDropdown required = required)
          span.input__checkmark expand_more
  else
    .input
      if heading
        .input__heading= heading
      if description
        .input__description= description
      input.input__element.js-input__element(name = name type = type value = value placeholder = placeholder readonly = readonly subscription = subscription dateDropdown = dateDropdown required = required)
      if expandable
        span.input__checkmark expand_more
      if subscription
        .input__subscription
          button(type="submit").input__default-button arrow_forward