mixin radio-buttons(options)
  - const { name = 'title', list = ['Мужчина', 'Женщина'], required = true } = options
  
  .radio-buttons
    if name
      h3.radio-buttons__name= name
    .radio-buttons__group
      each nameOfButton in options.list
        .radio-buttons__item
          label.radio-buttons__label  
            input.radio-buttons__input(type='radio', name='gender', value=nameOfButton, required = required)
            span.radio-buttons__content= nameOfButton
