.radio-buttons {
  &__item {
    display: inline;
    margin-right: 11px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  &__name {
    @extend %h3;

    margin-bottom: 17px;
  }
  &__input {
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    &::before {
      position: relative;
      top: -5px;
      left: -1px;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: white;
      border: 1px solid $dark25;
      border-radius: 18px;
      visibility: visible;
      content: "";
    }
    &:checked::before {
      position: relative;
      top: -5px;
      left: -1px;
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid $purple;
      border-radius: 18px;
      visibility: visible;
      content: "";
    }
    &:checked::after {
      position: relative;
      top: -24px;
      left: 3px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 12px;
      visibility: visible;
      content: "";
    }
    &:checked + label {
      color: $dark75;
    }
  }
  &__label {
    @extend %font-body;

    margin-left: 16px;
    color: $dark50;
    cursor: pointer;
  }
}
