mixin nav-menu(menuItems)
  - 
    const defaultMenuItems = require('Components/nav-menu/default-nav-menu-items.json')
    if (!menuItems) {
      menuItems = defaultMenuItems
    }

  nav.nav-menu.js-nav-menu
    ul.nav-menu__list
      each item in menuItems
        if !item.submenu
          li.nav-menu__item    
            a.nav-menu__link.js-nav-menu__link(href = item.href)= item.name
        else
          li.nav-menu__item.js-nav-menu__item_with-dropdown 
            a.nav-menu__link.js-nav-menu__link(href = item.href)= item.name
              span.nav-menu__checkmark.js-nav-menu__checkmark expand_more
            ul.nav-menu__sub-list.js-nav-menu__sub-list
              each subItem in item.submenu
                li.nav-menu__sub-item
                  a.nav-menu__sub-link(href = subItem.subhref)= subItem.subname