include ../checkmark/checkmark.pug

//-
  menuItems - массив с элементами меню
  menuItems[0].name - имя элемента меню
  menuItems[0].href - ссылка элемента меню
  menuItems[0].subname[0].name - имя элемента подменю
  menuItems[0].subname[0].href - ссылка элемента подменю
  
  Нужно доделать, чтобы активной странице добавлялся класс menu__link_active:
        a.menu__link.menu__link_active(href='https://www.google.com/') О нас     

mixin nav-menu()
    -
        let menuItems = [
            {
            name: 'О нас',
            href: 'https://www.google.com/'
            }, {
            name: 'Услуги',
            submenu: [
                        {subname: 'Услуга 1',
                        subhref: 'https://www.google.com/'
                        }, {
                        subname: 'Услуга 2',
                        subhref: 'https://www.google.com/'
                        }
                    ]
            }, {
            name: 'Вакансии',
            href: 'https://www.google.com/'
            }, {
            name: 'Новости',
            href: 'https://www.google.com/'
            }, {
            name: 'Соглашения',
            submenu: [
                        {subname: 'Соглашение 1',
                        subhref: 'https://www.google.com/'
                        }, {
                        subname: 'Соглашение 2',
                        subhref: 'https://www.google.com/'
                        }
                    ]
            }
        ];
    nav.nav-menu
        ul.nav-menu__list
            - for (let i = 0; i < menuItems.length; i ++)
                if !menuItems[i].submenu
                    li.nav-menu__item    
                        a.nav-menu__link(href = menuItems[i].href)= menuItems[i].name
                else
                    li.nav-menu__item.nav-menu__item_dropdown.js-nav-menu__item_dropdown 
                        a.nav-menu__link(href = menuItems[i].href)= menuItems[i].name
                            +checkmark()
                        ul.nav-menu__sub-list.js-nav-menu__sub-list
                            - for (let j = 0; j < menuItems[i].submenu.length; j ++) 
                                li.nav-menu__sub-item
                                    a.nav-menu__sub-link(href = menuItems[i].submenu[j].subhref)= menuItems[i].submenu[j].subname 