.nav-menu {
  &__list {
    display: flex;
    align-items: baseline;
  }
  &__checkmark {
    display: inline-block;
    font-size: 24px;
    font-family: "MaterialIcons-Regular";
    text-transform: none;
    vertical-align: middle;
    background-color: $dark75;
    -webkit-background-clip: text;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s transform;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    &_direction_up {
      transform: rotate(180deg);
    }
  }
  &__item {
    position: relative;
    margin-right: 20px;
  }
  &__link {
    @extend %font-body;
    cursor: pointer;
    opacity: 0.5;
    &_active {
      @extend %h3;
      font-size: 14px;
      text-transform: none;
      opacity: 0.75;
    }
    &_opened {
      font-size: 18px;
    }
  }
  &__sub-list {
    position: absolute;
    left: -5px;
    min-width: 100%;
    padding-left: 5px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.4s ease;
    &_opened {
      z-index: 1;
      opacity: 1;
      transition: opacity 0.4s ease;
    }
  }
  &__sub-link {
    @extend %font-body;
    opacity: 0.5;
  }
  &__sub-item {
    padding-top: 10px;
  }
}
