
//-
  menuItems - массив с элементами меню
  menuItems[0].name - имя элемента меню
  menuItems[0].href - ссылка элемента меню
  menuItems[0].subname[0].name - имя элемента подменю
  menuItems[0].subname[0].href - ссылка элемента подменю
  
mixin nav-menu(menuItems)
  nav.nav-menu.js-nav-menu
    ul.nav-menu__list
      each item in menuItems
        if !item.submenu
          li.nav-menu__item    
            a.nav-menu__link.js-nav-menu__link(href = item.href)= item.name
        else
          li.nav-menu__item.js-nav-menu__item_with-dropdown 
            a.nav-menu__link.js-nav-menu__link(href = item.href)= item.name
              span.nav-menu__checkmark.js-nav-menu__checkmark expand_more
            ul.nav-menu__sub-list.js-nav-menu__sub-list
              each subItem in item.submenu
                li.nav-menu__sub-item
                  a.nav-menu__sub-link(href = subItem.subhref)= subItem.subname