// Dimensions for short buttons
$width-s: 99px;
$height-s: 44px;
// Dimensions for long buttons
$width-l: 100%;
$height-l: 44px;
// Dimensions for empty buttons
$width-e: auto;
$height-e: auto;
.btn {
  @extend %h3;

  display: block;
  box-sizing: border-box;
  letter-spacing: -0.01em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  &_color_gradient {
    width: $width-s;
    height: $height-s;
    color: #fff;
    background-image: linear-gradient(to bottom, $purple, #8ba4f9);
    border-radius: 22px;
    transition: opacity 0.4s ease;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease;
    }
  }
  &_size_small {
    width: 196px;
    height: 34px;
  }
  &_with-border {
    width: $width-s - 4px;
    height: $height-s - 4px;
    background-image: linear-gradient(white, white),
      linear-gradient(to bottom, $purple, #8ba4f9);
    background-clip: content-box, border-box;
    background-origin: border-box;
    border: double 2px transparent;
    border-radius: 26px;
    transition: opacity 0.4s ease;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease;
    }
  }
  &_size_low {
    width: calc(87px - 4px);
    height: calc(34px - 4px);
  }
  &__text {
    margin: 0 auto;
    color: $purple;
    line-height: $height-s - 4px;
    &_header {
      margin-top: 5px;
      line-height: 30px;
    }
  }
  &_color_violent {
    width: auto;
    height: auto;
    color: $purple;
  }
  &_color_black {
    width: auto;
    height: auto;
    color: $dark100;
    opacity: 0.5;
  }
  &_size_long {
    width: $width-l;
    height: $height-l;
    color: #fff;
    background-image: linear-gradient(to bottom, $purple, #8ba4f9);
    border-radius: 22px;
    transition: opacity 0.4s ease;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.4s ease;
    }
  }
  &__arrow {
    position: relative;
    top: -9px;
    left: 92%;
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    &::after {
      position: absolute;
      top: -3px;
      right: -3px;
      width: 10px;
      height: 2px;
      background-color: #fff;
      transform: rotate(45deg);
      content: "";
    }
    &::before {
      position: absolute;
      top: 3px;
      right: -3px;
      width: 10px;
      height: 2px;
      background-color: #fff;
      transform: rotate(-45deg);
      content: "";
    }
    @media screen and (max-width: 420px) {
      left: 90%;
    }
  }
  &_hidden {
    display: none;
  }
}
