@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../nullstyle.scss";
@import "Components/header/header.scss";
@import "Components/logo/logo.scss";
@import "Components/button/button.scss";
@import "Components/nav-menu/nav-menu.scss";
@import "Components/footer/footer.scss";
@import "Components/social-nets/social-nets.scss";
@import "Components/log-in-form/log-in-form.scss";
@import "Components/input/input.scss";
@import "Components/mobile-footer/mobile-footer.scss";
@import "Components/radio-buttons/radio-buttons.scss";
@import "Components/toggle/toggle.scss";
@import "Components/desktop-footer/desktop-footer.scss";

.sign-in {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  min-height: 702px;
  background-image: url(./registration.png);
  background-position: center;
  background-size: cover;
  &__form {
    display: flex;
    justify-content: center;
    width: fill-available;
  }
}
