extends ../../templates/template.pug
include ../../components/header/header.pug
include ../../components/form-log-in/form-log-in.pug
include ../../components/footer/footer.pug
include ../../components/footer-tab/footer-tab.pug

block title
    title Sign-in

block content
    .sign-in
        header.sign-in__header
            +header({modifier: "NotRegistered"})
        main.sign-in__main
            img(src=require("./registration.png").default, alt="registration").sign-in__image
            .sign-in__form
                +form-log-in()
        footer.sign-in__footer
            .sign-in__footer_wide
                +footer()
            .sign-in__footer_tab
                +footer-tab()
