mixin button(options = {})
  - 
    const { 
        style = 'solid',
        size = '',
        length = '',
        color = '',
        text = 'click me',
        type = 'button',
        name = false,
        href = false
    } = options;
    const sizeModifiers = {
      small: 'button_size_small',
      big: 'button_size_big'
    }
    const styleModifiers = {
      bordered: 'button_bordered',
      directed: 'button_directed',
      solid: 'button_solid',
      texted: 'button_texted'
    }
    const colorModifiers = {
      violent: 'button_color_violent',
      black: 'button_color_black'
    }
    const lengthModifiers = {
      long: 'button_size_long',
    }
    const classes = [
      sizeModifiers[size],
      styleModifiers[style],
      colorModifiers[color],
      lengthModifiers[length]
    ]
    const tag = type === 'reference' ? 'a' : 'button';
    const buttonType = type === 'reference' ? false : type;
    const buttonName = type === 'reference' ? false : name;
    const referenceLink = type === 'reference' ? href : false;

  #{tag}( 
    type = buttonType
    name = buttonName
    href = referenceLink
    class = classes
  ).button.js-button #{text}
  