mixin button(options)
  - const {assignment, style, size, color, text, type, name, href} = options

  case assignment
    when "button"
      button(
        type = type
        name = name
        class = style === "bordered" ? "button_bordered" : "" 
        class = style === "directed" ? "button_directed" : "" 
        class = style === "solid" ? "button_solid" : "" 
        class = style === "texted" ? "button_texted" : "" 
        class = size === "small" ? "button_size_small" : ""
        class = size === "big" ? "button_size_big" : "" 
        class = color === "violent" ? "button_color_violent" : "" 
        class = color === "black" ? "button_color_black" : "" 
      ).button #{text}
    when "reference"
      a(
        href = href
        class = style === "bordered" ? "button_bordered" : "" 
        class = style === "directed" ? "button_directed" : "" 
        class = style === "solid" ? "button_solid" : "" 
        class = style === "texted" ? "button_texted" : "" 
        class = size === "small" ? "button_size_small" : ""
        class = size === "big" ? "button_size_big" : "" 
        class = color === "violent" ? "button_color_violent" : "" 
        class = color === "black" ? "button_color_black" : "" 
      ).button #{text}