//-
  options.name - title of list

mixin like-button(options)
  - const {name, numberOfLikes} = options
  .like-button.js-like-button
    if name
      h3.like-button__name= name
    button.like-button__button.js-like-button__button(type="button")
      span.like-button__image.js-like-button__image favorite_border
      .like-button__counter.js-like-button__counter= numberOfLikes
        
