.like-button {
  &__name {
    @extend %h3;

    margin-bottom: 15px;
  }
  &__button {
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: solid 1px $dark25;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    &_active {
      position: relative;
      border: none;
      &::before {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        z-index: -1;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 11px;
        content: "";
      }
    }
  }
  &__counter {
    @extend %font-body;

    display: inline-block;
    margin-left: 7px;
    color: $dark25;
    font-size: 10px;
    vertical-align: text-top;
    &_active {
      color: $purple;
    }
  }
  &__image {
    display: inline-block;
    margin-left: -7px;
    font-weight: normal;
    font-size: 10px;
    font-family: "MaterialIcons-Regular";
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    background-color: $dark25;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    &_active {
      background-color: $purple;
    }
  }
}
