.diagram {
  display: flex;
  align-items: end;
  @media screen and (max-width: 376px) {
    display: block;
  }
  &__block {
    position: relative;
    max-height: 125px;
  }
  &__unit {
    fill: none;
    stroke-width: 4;
  }
  &__point {
    // @extend %legend;
    display: inline-block;
    width: 10.43px;
    height: 10px;
    margin-right: 5px;
    border-radius: 5px;
    content: "";
  }
  &__list-item {
    @extend %font-body;
    display: flex;
    align-items: baseline;
    margin-bottom: 6px;
    color: $dark75;
  }
  &__total {
    position: absolute;
    top: 33%;
    left: 21%;
    width: 70px;
    color: $purple;
    line-height: 19px;
    text-align: center;
    @extend %h1;
    & span {
      @extend %h3;
      color: $purple;
    }
    @media screen and (max-width: 376px) {
      left: 11%;
    }
  }
  &__legend {
    min-width: 162px;
    margin-left: 30px;
    @media screen and (max-width: 376px) {
      margin-left: 0;
    }
  }
}
