extends ../../templates/template.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/dropdown/dropdown.pug
include ../../components/range-slider/range-slider.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/room/room.pug
include ../../components/rate-button/rate-button.pug
include ../../components/pagination/pagination.pug

block title
  title Search room

block main
  main.search-room
    section.search-room__sidebar
      .search-room__filter-date-dropdown.js-search-room__filter-date-dropdown
        +date-dropdown({ titleFrom: 'Даты пребывания в отеле', separatedInputs: false })
      .search-room__dropdown-guests.js-search-room__dropdown-guests
        +dropdown({
          name: 'guests', 
          withButtons: true, 
          heading: 'Гости', 
          value: 'Сколько гостей',
          declination: 'гость, гостя, гостей',
          items: [
            {
              name: 'adults', 
              sign: 'взрослые', 
              declination: 'взрослый, взрослых, взрослых'
            },{
              name: 'children', 
              sign: 'дети', 
              declination: 'дети, детей, детей',
            },{
              name: 'infants', 
              sign: 'младенцы', 
              declination: 'младенец, младенца, младенцев',
              isSeparated: true
            },
          ],
        })
      .search-room__range-slider.js-search-room__range-slider
        +range-slider({title: 'Диапазон цены', description: 'Стоимость за сутки пребывания в номере'})
      .search-room__checkbox.js-search-room__checkbox
        .search-room__checkbox-list
          +checkbox-list({
            title: 'Правила дома', 
            isExpandable: false, 
            list: [
              {item: 'Можно курить'},  
              {item: 'Можно с питомцами'},
              {item: 'Можно пригласить гостей (до 10 человек)'}  
            ]
          })
      .search-room__checkbox.js-search-room__checkbox
        .search-room__rich-checkbox
          +checkbox-list({
            isExpandable: false, 
            withDescription: true, 
            title: 'Доступность', 
            list: [
              {item: 'Широкий коридор', subItem: 'Ширина коридоров в номере не менее 91 см.'},  
              {item: 'Помощник для инвалидов', subItem: 'На 1 этаже вас встретит специалист  и проводит до номера.'}  
            ]
          })
      .search-room__dropdown-rooms.js-search-room__dropdown-rooms
        +dropdown({
          name: 'roomsBeds', 
          heading: 'удобства номера', 
          items: [
            {
              name: 'bedrooms', 
              sign: 'спальни', 
              declination: 'спальня, спальни, спален',
              defaultValue: 1
            }, {
              name: 'beds', 
              sign: 'кровати', 
              declination: 'кровать, кровати, кроватей',
              defaultValue: 1
            },{
              name: 'bathrooms', 
              sign: 'ванные комнаты', 
              declination: 'ванная комната, ванные комнаты, ванных комнат'
            },
          ],
          withButtons: false,
        })
      .search-room__checkbox.js-search-room__checkbox
        .search-room__expandable-checkbox
        +checkbox-list({
          isExpandable: true, 
          title: 'Дополнительные удобства', 
          list: [
            {item: 'Завтрак'},  
            {item: 'Письменный стол'},
            {item: 'Стул для кормления'},
            {item: 'Кроватка'},
            {item: 'Телевизор'},  
            {item: 'Шампунь'}
          ]
        })
    section.search-room__content
      h1.search-room__title Номера, которые мы для вас подобрали
      .search-room__rooms
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room1', images: ["image11", "image12", "image13", "image14"], roomNumber: '888', lux: true, price: '9 990₽', rate: '5', numberOfReviews: '145'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room2', images: ["image21", "image22", "image23", "image24"], roomNumber: '840', lux: false, price: '9 990₽', rate: '4', numberOfReviews: '65'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room3', images: ["image31", "image32", "image33", "image34"], roomNumber: '980', lux: true, price: '8 500₽', rate: '3', numberOfReviews: '35'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room4', images: ["image41", "image42", "image43", "image44"], roomNumber: '856', lux: false, price: '7 300₽', rate: '5', numberOfReviews: '19'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room5', images: ["image51", "image52", "image53", "image54"], roomNumber: '740', lux: false, price: '6 000₽', rate: '4', numberOfReviews: '44'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room6', images: ["image61", "image62", "image63", "image64"], roomNumber: '982', lux: false, price: '5 800₽', rate: '3', numberOfReviews: '56'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room7', images: ["image71", "image72", "image73", "image74"], roomNumber: '678', lux: false, price: '5 500₽', rate: '5', numberOfReviews: '45'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room8', images: ["image81", "image82", "image83", "image84"], roomNumber: '450', lux: false, price: '5 300₽', rate: '4', numberOfReviews: '39'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room9', images: ["image91", "image92", "image93", "image94"], roomNumber: '350', lux: false, price: '5 000₽', rate: '3', numberOfReviews: '77'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room10', images: ["image101", "image102", "image103", "image104"], roomNumber: '666', lux: false, price: '5 000₽', rate: '5', numberOfReviews: '25'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room11', images: ["image111", "image112", "image113", "image114"], roomNumber: '444', lux: false, price: '5 000₽', rate: '3', numberOfReviews: '15'})
        .search-room__card.js-search-room__card
          +room({addressOfRoom: 'room12', images: ["image121", "image122", "image123", "image124"], roomNumber: '352', lux: false, price: '5 000₽', rate: '3', numberOfReviews: '55'})
      .search-room__pagination.js-search-room__pagination
        +pagination()
