.type-block {
  display: flex;
  margin-bottom: 50px;
  &__name {
    @extend %font-body;
    width: 40px;
    margin-right: 30px;
    line-height: normal;
    text-align: right;
    opacity: 0.25;
    &_text-type {
      &_widget-title {
        font-size: 24px;
      }
      &_item-title {
        font-size: 19px;
      }
      &_label {
        font-size: 14px;
      }
      &_paragraph {
        font-size: 12px;
      }
    }
  }
  &__description {
    &_text-type {
      &_paragraph {
        @extend %font-body;
        width: 308px;
      }
      &_widget-title {
        @extend %h1;
        width: 336px;
      }
      &_item-title {
        @extend %h2;
        width: 282px;
      }
      &_label {
        @extend %h3;
      }
    }
  }
}
