.type-block {
  display: flex;
  margin-bottom: 50px;
  &__name {
    @extend %font-body;
    width: 40px;
    margin-right: 30px;
    line-height: normal;
    text-align: right;
    opacity: 0.25;
    &_text-type {
      &_widget-title {
        font-size: 24px;
      }
      &_item-title {
        font-size: 19px;
        line-height: 1.5;
      }
      &_label {
        font-size: 14px;
        line-height: 1.1;
      }
      &_paragraph {
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }
  &__description {
    &_text-type {
      &_paragraph {
        @extend %font-body;
        width: 308px;
        line-height: 21px;
      }
      &_widget-title {
        width: 381px;
        line-height: 1.2;
        letter-spacing: 1.2px;
        @extend %h1;
      }
      &_item-title {
        width: 328px;
        line-height: 1.35;
        letter-spacing: 0.85px;
        @extend %h2;
      }
      &_label {
        @extend %h3;
      }
    }
  }
}
