.type-block {
  display: flex;
  margin-bottom: 50px;
  &__name {
    @extend %font-body;
    width: 40px;
    margin-right: 30px;
    line-height: normal;
    text-align: right;
    opacity: 0.25;
    &_fsize {
      &_12 {
        font-size: 12px;
      }
      &_14 {
        font-size: 14px;
      }
      &_19 {
        font-size: 19px;
      }
      &_24 {
        font-size: 24px;
      }
    }
    &_line-height {
      &_24 {
        line-height: 24px;
      }
    }
  }
  &__description {
    &_font-body {
      @extend %font-body;
      width: 308px;
    }
    &_h1 {
      @extend %h1;
      width: 336px;
    }
    &_h2 {
      @extend %h2;
      width: 282px;
    }
    &_h3 {
      @extend %h3;
    }
  }
}
