extends ../../templates/UIkit_template.pug
include ../../common.blocks/UIkit/logoUIkit/logoUIkit.pug
include ../../common.blocks/pages/input/input.pug
include ../../common.blocks/pages/dropdown/dropdown.pug

block title
    title Form elements

block content
    .formElements
        .formElements__logoUIkit
            +logoUIkit()
        .formElements__textField
            +input({name: 'email', type: 'email', placeholder: 'Email', required: true})
        br
        .formElements__maskedInput
            +input({name: 'date', type: 'text', placeholder: 'ДД.ММ.ГГГГ', required: true, dateMask: true})
        br
        .formElements__dropdown  
            +dropdown({ dropdownType: 'guests' })
        br
        .formElements__dropdown  
            +dropdown({dropdownType:'roomsBeds'})

block script
    script(src="main.js")         
