include ../input/input.pug

mixin date-dropdown(options = {})
  - 
    const { 
      titleFrom = '', 
      titleTo = '', 
      defaultValueFrom = '', 
      defaultValueTo = '', 
      separatedInputs = true, 
      nameFrom = 'dateFrom', 
      nameTo = 'dateTo', 
      placeholder = 'ДД.ММ.ГГГГ', 
      expandable = true, 
      description = false 
    } = options
  
  .date-dropdown.js-date-dropdown(data-separatedInputs = separatedInputs)
    .date-dropdown__from.js-date-dropdown__from
      +input({
        heading: titleFrom,
        name: nameFrom,
        value: defaultValueFrom,
        type: 'text',
        placeholder,
        required,
        expandable,
        readonly: true,
        description
      })
    if separatedInputs
      .date-dropdown__to.js-date-dropdown__to
        +input({
          heading: titleTo,
          name: nameTo,
          value: defaultValueTo,
          type: 'text',
          placeholder, 
          required,
          expandable,
          readonly: true,
          description
        })