@import "../../../node_modules/air-datepicker/dist/css/datepicker.min.css";

.date-dropdown {
  width: 100%;
  cursor: pointer;
  &_is-two-inputs {
    display: flex;
    justify-content: space-between;
    & > .input {
      width: 47%;
    }
  }
  & input {
    cursor: pointer;
  }
}

.datepicker--cells {
  @extend %font-body;
  margin: 14px 15px 0 15px;
}
.datepicker--cell {
  border-radius: 50%;
  height: 40px;
}
.datepicker--cell.-current- {
  color: #ffffff;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #6fcf97, #66d2ea);
  opacity: 1;
}
.datepicker--cell.-in-range- {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 0.25)),
    to(rgba(139, 164, 249, 0.25))
  );
  color: none;
}
.datepicker--cell.-range-from- {
  border: none;
  background-color: none;
  color: #ffffff;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #6fcf97, #66d2ea);
  opacity: 1;
  position: relative;
  &::before {
    content: "";
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(188, 156, 255, 0.15)),
      to(rgba(139, 164, 249, 0.15))
    );
    width: 20px;
    height: 40px;
    position: absolute;
    right: 0;
  }
}
.datepicker--cell.-range-to- {
  border-radius: 50%;
  background-color: none;
  color: #fff;
  opacity: 1;
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
  position: relative;
  &::before {
    content: "";
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(188, 156, 255, 0.15)),
      to(rgba(139, 164, 249, 0.15))
    );
    width: 20px;
    height: 40px;
    position: absolute;
    left: 0;
  }
}
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  opacity: 1;
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
}
.datepicker--cell.-range-from-.-range-to- {
  border-radius: 50%;
}
.datepicker--cell.-range-to-.-focus- {
  border: none;
}
.datepicker--cell.-range-from-.-focus- {
  opacity: 1;
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
}
.datepicker--cell.-selected-.-focus- {
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
}
.datepicker--days-names {
  margin: 8px 15px 3px;
}
.datepicker--day-name {
  color: #bc9cff;
  @extend %h3;

  text-transform: none;
  font-size: none;
}
.datepicker--cell-day {
  opacity: 0.5;
}
.datepicker {
  font-family: none;
  width: 318px;
  @media screen and (max-width: 360px) {
    width: 260px;
  }
}
.datepicker--nav {
  padding: 15px 17px 25px 17px;
  border-bottom: none;
}
.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px;
  font-family: "Open Sans";
  font-size: 19px;
  color: #1f2041;
  font-weight: 700;
  margin-left: 6px;
}
.datepicker--buttons,
.datepicker--time {
  border-top: none;
  flex-direction: row-reverse;
}
.datepicker--nav-title i {
  color: #1f2041;
}
.datepicker--buttons {
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 7px;
}
.datepicker--button {
  @extend %h3;
  letter-spacing: -0.01em;
  color: none;
  opacity: 0.5;
  max-width: 100px;
  &:nth-child(2) {
    color: $dark100;
    opacity: 0.5;
  }
  &:nth-child(1) {
    color: $purple;
    opacity: 1;
    margin-right: 8px;
  }
}
.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: none;
  opacity: 0.25;
}
.date-dropdown .input__checkmark {
  @media screen and (max-width: 390px) {
    display: none;
  }
}

.date-dropdown .input__date-dropdown {
  @media screen and (max-width: 390px) {
    padding-left: 5px;
  }
}