include ../input/input.pug

mixin date-dropdown(options)
  - const {oneInputTitle, oneInputValue, twoInputsTitleFrom, twoInputsTitleTo, twoInputsValueFrom, twoInputsValueTo, name} = options
  .date-dropdown.js-date-dropdown
    case name
      when "oneInput"
        .date-dropdown_number-of-inputs_one
          +input({heading: oneInputTitle, name: name, value: oneInputValue, type: "text", placeholder: "ДД.ММ.ГГГГ", dateDropdown: true, required: 'required', readonly: readonly})
      when "twoInputs"
        .date-dropdown_number-of-inputs_two
          +input({heading: twoInputsTitleFrom, name: name, value: twoInputsValueFrom, type: "text", placeholder: "ДД.ММ.ГГГГ", dateDropdown: true, fromOrTo: "from", required: 'required'})
          +input({heading: twoInputsTitleTo, name: name, value: twoInputsValueTo, type: "text", placeholder: "ДД.ММ.ГГГГ", dateDropdown: true, fromOrTo: "to", required: 'required'})
