include ../input/input.pug

mixin date-dropdown(options)
  - const {heading, heading1, heading2, name, value, value1, value2} = options
  .date-dropdown.js-date-dropdown
    if name == "Dates in 1 input"
      .date-dropdown_is-one-input
        +input({heading: heading, name: name, value: value, type: "text", placeholder: "ДД.ММ.ГГГГ", dateDropdown: true, required: 'required', readonly: readonly})
    else 
      .date-dropdown_is-two-inputs
        +input({heading: heading1, name: name, value: value1, type: "text", placeholder: "ДД.ММ.ГГГГ", dateDropdown: true, fromOrTo: "from", required: 'required'})
        +input({heading: heading2, name: name, value: value2, type: "text", placeholder: "ДД.ММ.ГГГГ", dateDropdown: true, fromOrTo: "to", required: 'required'})
