mixin counter(options = [])
  - const [sign, name, declination, defaultValue="0"] = options
  .counter.js-counter
    p.counter__name= sign
    .counter__enter.js-counter__enter
      button(type="button").counter__button.counter__button_value_minus.js-counter__button_value_minus -
      input(name=name type="text" value=defaultValue data-declination=declination readonly).counter__value.js-counter__value
      button(type="button").counter__button.counter__button_value_plus.js-counter__button_value_plus +
