//- 
    options.purple - color of arrow is purple gradient
    options.white - color of arrow is white

mixin arrow(options = {})
    - let {color, direction} = options;
    case color
        when 'purple'
            if direction === 'right'
                span.arrow_right.arrow_purple
            else
                span.arrow_left.arrow_purple
        when 'white'
            if direction === 'right'
                span.arrow_right.arrow_white
            else
                span.arrow_left.arrow_white
