.arrow {
  &_direction_right {
    position: relative;
    width: 15px;
    height: 2px;
    display: block;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: -3px;
      right: -3px;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: 3px;
      right: -3px;
      transform: rotate(-45deg);
    }
  }
  &_direction_left {
    position: relative;
    width: 15px;
    height: 2px;
    display: block;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: 3px;
      right: 7px;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: -3px;
      right: 7px;
      transform: rotate(-45deg);
    }
  }
  &_color_purple {
    background-color: #bc9cff;
    &::after {
      background-color: #bc9cff;
    }
    &::before {
      background-color: #bc9cff;
    }
  }
  &_color_white {
    background-color: white;
    &::after {
      background-color: white;
    }
    &::before {
      background-color: white;
    }
  }
}
