.confirmation-form {
  box-sizing: border-box;
  max-width: 380px;
  padding: 30px 30px 30px 28px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
  &__room-description {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  &__room-number {
    @extend %h1;
    display: inline-block;
    & span {
      font-size: 14px;
    }
  }
  &__room-type {
    @extend %h3;
    display: inline-block;
    margin-left: 5px;
    color: $purple;
  }
  &__price {
    @extend %h3;
    color: $dark50;
    font-size: 14px;
    & span {
      @extend %font-body;
      color: $dark50;
      font-size: 12px;
      text-transform: none;
    }
  }
  &__dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__part {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 3px;
  }
  &__text {
    display: inline-block;
    max-width: 214px;
    color: $dark75;
    line-height: 18px;
    @extend %font-body;
  }
  &__sum {
    display: inline-block;
    margin-left: 5px;
    color: $dark75;
    line-height: 18px;
    @extend %font-body;
  }
  &__total {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 29px;
    margin-left: 3px;
    letter-spacing: 1px;
  }
  &__final {
    @extend %h2;
  }
  &__rubles {
    @extend %h2;
  }
  &__ellipsis {
    box-sizing: border-box;
    width: 57%;
    height: 1px;
    border: 1px dashed rgba(31, 32, 65, 0.25);
    @media screen and (max-width: 386px) {
      width: 40%;
    }
  }
  &__guests {
    margin-bottom: 21px;
  }
  &__submit {
    margin-top: 21px;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid $dark25;
    border-radius: 50%;
    @media screen and (max-width: 360px) {
      display: none;
    }
  }
  &__letter {
    @extend %h3;
    color: $dark25;
    text-transform: none;
  }
  &__text-info {
    display: flex;
  }
}
