include ../input/input.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin confirmation-form()
  form(action="#" method="post").confirmation-form.js-confirmation-form
    .confirmation-form__room-description
      .confirmation-form__room-block
        h1.confirmation-form__room-number <span>№</span> 888
        h3.confirmation-form__room-type Люкс
      h3.confirmation-form__price 9 990₽ <span>в сутки</span>
    .confirmation-form__dates.js-confirmation-form__dates
      .confirmation-form__check-in
        +date-dropdown({titleFrom: 'Прибытие', titleTo: 'Выезд', separatedInputs: true})
    .confirmation-form__guests.js-confirmation-form__guests
      +dropdown({
        name: 'guests', 
        withButtons: true, 
        heading: 'гости', 
        value: '3 гостя',
        description: '',
        items: [
          {
            name: 'adults', 
            sign: 'взрослые', 
            declination: 'взрослый, взрослых, взрослых'
          },{
            name: 'children', 
            sign: 'дети', 
            declination: 'дети, детей, детей',
          },{
            name: 'infants', 
            sign: 'младенцы', 
            declination: 'младенец, младенца, младенцев'
          },
        ],
        declination: 'гость, гостя, гостей',
      })
    .confirmation-form__part
      .confirmation-form__text 9 990₽ х 4 суток
      .confirmation-form__sum 39 960₽
    .confirmation-form__part
      .confirmation-form__text-info
        .confirmation-form__text Сбор за услуги: скидка&nbsp;2&nbsp;179₽
        .confirmation-form__info
          .confirmation-form__letter i
      .confirmation-form__sum 0₽
    .confirmation-form__part
      .confirmation-form__text-info
        .confirmation-form__text Сбор за дополнительные услуги
        .confirmation-form__info
          .confirmation-form__letter i
      .confirmation-form__sum 300₽
    .confirmation-form__total
      h2.confirmation-form__final Итого
      h2.confirmation-form__ellipsis
      h2.confirmation-form__rubles 38 081₽
    .confirmation-form__submit
      +button({assignment: 'button', style: 'directed', size: 'big', text: 'Забронировать', type: 'submit'})




