mixin counter()
    .counter
        button.counter__btn.counter__btn_minus.counter__btn_opacity_38(disabled) -
        input.counter__meaning(type='text' value='0')
        button.counter__btn.counter__btn_plus +
    //- script(src="../../common.blocks/pages/counter/counter.js")