.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    &__name {
        @extend %h3;
    }
    &__enter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__value {
        width: 20px;
        text-align: center;
        @extend %h3;
        border: none;
        outline: none;
        padding-left: 10px;
    }
    &__btn {
        border-color: $dark25;
        border-width: 1px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: $dark50;
        outline-style: none;
        cursor: pointer;
        &_plus {
            font-size: unset;
            line-height: 1px;
        }
        &_minus {
            font-size: unset;
            line-height: 1px;
            &:disabled {
                opacity: 0.38;
            }
        }
    }
}