mixin counter()
    .counter
        button.counter__btn.counter__btn_minus -
        h3.counter__meaning 0
        button.counter__btn.counter__btn_plus +
    script(src="../../common.blocks/pages/counter/counter.js")
