mixin counter(options = [])
    - const [title, name, defaultValue='0'] = options
    .counter
        p.counter__name= title
        .counter__enter
            button(type='button').counter__btn.counter__btn_minus -
            input(name=name type='text' value=defaultValue readonly).counter__value
            button(type='button').counter__btn.counter__btn_plus +


//- mixin counter()
//-     .counter
//-         button.counter__btn.counter__btn_minus -
//-         input.counter__meaning(name='' type='text' value='0')
//-         button.counter__btn.counter__btn_plus +