mixin range-slider(options)
  - const {title, description} = options

  .range-slider
    if title
      span.range-slider__title= title
    if description
      span.range-slider__description= description
    input.range-slider__item.js-range-slider__item(type="text" name="my_range" value="")