@import "../../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css";

.range-slider {
  position: relative;
  &__title {
    position: absolute;
    @extend %h3;
    bottom: 48px;
  }
  &__description {
    position: absolute;
    bottom: -9px;
    color: $dark50;
    font-size: 12px;
    @extend %font-body;
  }
  .irs {
    & .irs-handle {
      width: 16px;
      height: 16px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border: 2px solid #fff;
      border-radius: 10px;
      box-shadow: none;
      cursor: pointer;
    }
    & .irs-line {
      top: 30px;
      box-sizing: border-box;
      height: 6px;
      background: #fff;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 3px;
    }
    & .irs-bar {
      top: 30px;
      height: 6px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border: none;
      border-radius: 3px;
      box-shadow: none;
    }
    & .sign {
      position: absolute;
      right: 0;
      bottom: 49px;
      color: $dark50;
      font-size: 12px;
      @extend %font-body;
    }
  }
}
