.header {
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    &__navMenuButtons {
        display: flex;
        align-items: center;
    }
    &__button {
        margin-right: 20px;
    }
    &__line {
        border-left: 1px solid;
        border-color: $dark100;
        opacity: 0.1;
        height: 30px;
        margin-right: 20px;
    }
    &__userName {
        @extend %font-body;
        opacity: 0.5;
    }
    @media screen and (max-width: 950px) {
        background-color: yellow;
    }
}