include ../button/button.pug
include ../logo/logo.pug
include ../navMenu/navMenu.pug

//- if user is registered, enter in mixins argument "Registered"
mixin header(options)
    -   const {modificator} = options
    header.header
        .container
            .header__content
                +logo()
                .header__navMenuButtons
                    +navMenu()
                    if modificator == "Registered"
                        .header__line
                        .header__userName Юлий Цезарь
                    else
                        .header__button
                            +btn({modificator: "btn_borderHeader", text: "войти"})
                        .header__button-sign
                            +btn({modificator: "btn_gradientHeader", text: "зарегистрироваться"})
                .header__burger
                    span