.checkmark {
  display: inline-block;
  width: 7px;
  height: 7px;
  color: $dark50;
  background: none;
  border: solid;
  border-width: 0 2px 2px 0;
  &_direction_down {
    margin-right: 7px;
    margin-bottom: 2px;
    margin-left: 9.5px;
    transform: rotate(45deg);
  }
  &_direction_up {
    margin: 4px 7px -3px 9.5px;
    transform: rotate(225deg);
  }
}
