extends ../../templates/template.pug
include ../../components/header/header.pug
include ../../components/form-registration/form-registration.pug
include ../../components/footer/footer.pug
include ../../components/footer-tab/footer-tab.pug

block title
    title Registration

block content
    .registration
        header.registration__header
            +header({modificator: "NotRegistered"})
        main.registration__main
            img(src="registration.png", alt="registration").registration__image
            .registration__form
                +form-registration()
        footer.registration__footer
            .registration__footer_wide
                +footer()
            .registration__footer_tab
                +footer-tab()

block script
    script(src="main.js")