extends ../../templates/template.pug
include ../../components/form-registration/form-registration.pug

block data 
    - const pageName = "registration"

block title
    title Registration

block main
    main.registration__main
        img(src=require("./registration.png").default, alt="registration").registration__image
        .registration__form
            +form-registration()
