@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../nullstyle.scss";
@import "Components/header/header.scss";
@import "Components/logo/logo.scss";
@import "Components/button/button.scss";
@import "Components/nav-menu/nav-menu.scss";
@import "Components/footer/footer.scss";
@import "Components/social-nets/social-nets.scss";
@import "Components/registration-form/registration-form.scss";
@import "Components/input/input.scss";
@import "Components/mobile-footer/mobile-footer.scss";
@import "Components/radio-buttons/radio-buttons.scss";
@import "Components/toggle/toggle.scss";
@import "Components/desktop-footer/desktop-footer.scss";

.registration {
  flex: 1 0 auto;
  min-height: 684px;
  background-image: url("./registration.jpg");
  background-repeat: no-repeat;
  background-position: 49% 52%;
  background-size: cover;
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 20px;
    @media screen and (max-width: 390px) {
      padding: 20px 10px;
    }
  }
}
