//- 
    options.name - title of buttons list
    options.list[0...i] - name of buttons

include ../checkmark/checkmark.pug


mixin checkbox-btn(options = {})
    .checkbox-btn
        if options.expandable
            .checkbox-btn__expandableName
                .checkbox-btn__title= options.name
                +checkmark()
            form.checkbox-btn__expandableForm(name="checkbox-btn" method="get")
                each nameOfBtn in options.list
                    .checkbox-btn__item
                        input.checkbox-btn__input(type="checkbox", id="ecb" + options.list.indexOf(nameOfBtn))
                        label(for="ecb" + options.list.indexOf(nameOfBtn))= nameOfBtn    
        else 
            .checkbox-btn__name
                .checkbox-btn__title= options.name
            form.checkbox-btn__form(name="checkbox-btn" method="get")
                each nameOfBtn in options.list
                    .checkbox-btn__item
                        input.checkbox-btn__input(type="checkbox", id="cb" + options.list.indexOf(nameOfBtn))
                        label(for="cb" + options.list.indexOf(nameOfBtn))= nameOfBtn