.arrow {
  &_right {
    position: relative;
    width: 15px;
    height: 2px;
    display: block;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: -3px;
      right: -3px;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: 3px;
      right: -3px;
      transform: rotate(-45deg);
    }
  }
  &_left {
    position: relative;
    width: 15px;
    height: 2px;
    display: block;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: 3px;
      right: 7px;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      top: -3px;
      right: 7px;
      transform: rotate(-45deg);
    }
  }
  &_purple-gradient {
    background-image: linear-gradient(to bottom, $purple, #8ba4f9);
    &::after {
      background-image: linear-gradient(to bottom, $purple, #8ba4f9);
    }
    &::before {
      background-image: linear-gradient(to bottom, $purple, #8ba4f9);
    }
  }
  &_purple {
    background-color: #bc9cff;
    &::after {
      background-color: #bc9cff;
    }
    &::before {
      background-color: #bc9cff;
    }
  }
  &_white {
    background-color: white;
    &::after {
      background-color: white;
    }
    &::before {
      background-color: white;
    }
  }
}
