mixin color-block(options)
  - const { name, hex, text } = options
  .color-block
    .color-block__item
      case name 
        when "dark100"
          .color-block__color.color-block__color_dark
        when "dark75"
          .color-block__color.color-block__color_light-dark
        when "dark50"
          .color-block__color.color-block__color_grey
        when "dark25"
          .color-block__color.color-block__color_light-grey
        when "dark5"
          .color-block__color.color-block__color_light
        when "purple"
          .color-block__color.color-block__color_purple
        when "green"
          .color-block__color.color-block__color_green
      .color-block__description
          p.color-block__name= text
          p.color-block__hex= hex