.color-block {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__name {
    @extend %h2;
    margin-bottom: 6px;
    letter-spacing: 0.9px;
  }
  &__hex {
    color: $dark100;
    font-size: 19px;
    @extend %font-body;
  }
  &__description {
    margin-left: 40px;
  }
  &__color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    &_dark {
      background-color: $dark100;
    }
    &_light-dark {
      background-color: $dark75;
    }
    &_grey {
      background-color: $dark50;
    }
    &_light-grey {
      background-color: $dark25;
    }
    &_light {
      background-color: $dark5;
    }
    &_green {
      background-color: $green;
    }
    &_purple {
      background-color: $purple;
    }
  }
}
