mixin color-block(options)
  - const {name, hex} = options
  .color-block
    .color-block__item
      case name 
        when "Dark Shade 100%"
          .color-block__color.color-block__color_dark_100
        when "Dark Shade 75%"
          .color-block__color.color-block__color_dark_75
        when "Dark Shade 50%"
          .color-block__color.color-block__color_dark_50
        when "Dark Shade 25%"
          .color-block__color.color-block__color_dark_25
        when "Dark Shade 5%"
          .color-block__color.color-block__color_dark_5
        when "Purple"
          .color-block__color.color-block__color_purple
        when "Green"
          .color-block__color.color-block__color_green
      .color-block__description
          p.color-block__name= name
          p.color-block__hex= hex