include ../dateDropdown/dateDropdown.pug
include ../dropdown/dropdown.pug

mixin form-roomsearch()
    form(action="#" method="get").form-roomsearch
        h1.form-roomsearch__title Найдём номера под ваши пожелания
        .form-roomsearch__dates
            .form-roomsearch__check-in
                +dateDropdown({heading: 'Прибытие', name: 'Check-in date'})
            .form-roomsearch__check-out
                +dateDropdown({heading: 'Выезд', name: 'Check-out date'})
        .form-roomsearch__guests
            +dropdown({dropdownType: 'guests', heading: 'гости'})
        .form-roomsearch__submit
            +btn({modificator: 'btn_longWithArrow', text: 'Подобрать номер', type: 'submit'})


