.checkbox-list {
  max-width: 256px;
  user-select: none;
  &_expandable {
    & .checkbox-list__form {
      z-index: -1;
      display: none;
      transition: opacity 0.4s ease;
      &_opened {
        z-index: 10;
        display: block;
      }
    }
  }
  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    cursor: pointer;
  }
  &__checkmark {
    display: inline-block;
    color: $purple;
    font-size: 24px;
    font-family: "MaterialIcons-Regular";
    text-transform: none;
    background-color: $dark50;
    -webkit-background-clip: text;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.4s transform;
    &_direction_up {
      transform: rotate(180deg);
    }
  }
  &__title {
    @extend %h3;
  }
  &__sublabel {
    @extend %font-body;
    margin-top: 7px;
    margin-left: 31px;
    color: $dark50;
    font-size: 12px;
    line-height: 14px;
  }
  &__item {
    margin-top: 12px;
  }
  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__indicator {
    position: absolute;
    left: 1px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
  }
  &__input {
    position: absolute;
    opacity: 0;
  }
  &__input:checked {
    & + .checkbox-list__indicator {
      border: 1px solid $purple;
    }
    & + .checkbox-list__indicator::before {
      position: absolute;
      top: 45%;
      left: 50%;
      width: 6px;
      height: 4px;
      border-top: 2px solid;
      border-right: 2px solid;
      border-image: linear-gradient(-45deg, #bc9cff, #8ba4f9);
      border-image-slice: 1;
      transform: translate(-50%, -50%) rotate(135deg);
      content: "";
    }
  }
  &__text {
    @extend %font-body;
    padding-top: 1px;
    padding-left: 30px;
    color: $dark50;
    cursor: pointer;
    &_rich {
      @extend %h3;
      color: $dark75;
      font-size: 14px;
      text-transform: none;
    }
  }
}
