<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Content of project
    body
        .content
            h1.content__main-title Content of project
            .content__UIKit(style="display: flex; flex-direction: column")
                h3.content__title UI-kit
                a.content__item(href="./colors-type.html") Colors-type
                a.content__item(href="./form-elements.html" ) Form elements
                a.content__item(href="./cards.html") Cards
                a.content__item(href="./headers-footers.html") Headers-footers
            .content__pages(style="display: flex; flex-direction: column")
                h3.content__title Pages
                a.content__item(href="./landing-page.html") Landing page
                a.content__item(href="./search-room.html") Search room
                a.content__item(href="./room-details.html") Room details
                a.content__item(href="./registration.html") Registration
                a.content__item(href="./sign-in.html") Sign in