@import "../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../node_modules/slick-carousel/slick/slick-theme.css";

.slick-slider {
    margin: auto;
    margin-bottom: 50px;
}

.room {
    width: 270px;
    height: 151px;
}