include ../rate-button/rate-button.pug

mixin room(options)
    - const {adressOfRoom, numberOfImage, roomNumber, lux, price, rate, numberOfReviews} = options

    .room
        .room__card.slider
            - for (let i = 0; i < numberOfImage.length; i++)
                img(src=adressOfRoom+numberOfImage[i], alt="Photo").foto
        .room__room-description
            .room__room-block
                h1.room__room-number <span>№</span> #{roomNumber}
                if lux                
                    h3.room__room-type Люкс
            h3.room__price #{price} <span>в сутки</span>
        .room__line
        .room__rate
            .room__rate-button
                +rate-button({value: rate})
            .room__review #{numberOfReviews} <span>Отзывов</span>



