.calendar {
  width: 320px;
  height: 369px;
  background-color: #fff;
  border: solid 1px $dark25;
  border-radius: 4px;
  box-shadow: 0 0 20px ($dark5);
  &__row1 {
    display: flex;
    justify-content: space-between;
    margin: 18px 26px 41px 26px;
  }
  &__arrow {
    display: inline-block;
    font-size: 24px;
    font-family: "MaterialIcons-Regular";
    text-transform: none;
    background-color: $purple;
    -webkit-background-clip: text;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
  }
  &__row2 {
    width: 256px;
    margin-left: 33px;
  }
  &__row3 {
    display: flex;
    justify-content: space-between;
    width: 291px;
    margin-top: 32px;
    margin-left: 15px;
  }
  &__month {
    @extend %h2;
  }
  &__all-days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: $purple;
    text-transform: none;
    @extend %h3;
  }
  &__number {
    @extend %font-body;
    width: 5%;
    color: $dark50;
    font-size: 12px;
    text-align: center;
    text-transform: none;
  }
  &__number-line1,
  &__number-line2,
  &__number-line3,
  &__number-line4,
  &__number-line5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2px;
    margin-bottom: 25px;
    margin-left: 2px;
  }
  &__number-line1 &__number:nth-child(1),
  &__number-line1 &__number:nth-child(2),
  &__number-line1 &__number:nth-child(3),
  &__number-line5 &__number:nth-child(7) {
    color: $dark25;
  }
  &__number-line2 &__number:nth-child(4) {
    @extend %h3;
    position: relative;
    z-index: 1;
    color: white;
    &::before {
      position: absolute;
      bottom: -13px;
      left: -14px;
      z-index: -1;
      width: 40px;
      height: 40px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 50%;
      content: "";
    }
  }
  &__number-line4 &__number:nth-child(1),
  &__number-line4 &__number:nth-child(5) {
    @extend %h3;
    position: relative;
    z-index: 1;
    color: white;
    &::before {
      position: absolute;
      bottom: -13px;
      left: -14px;
      z-index: -1;
      width: 40px;
      height: 40px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      content: "";
    }
  }
  &__number-line4 {
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      bottom: -13px;
      left: 5px;
      z-index: -1;
      width: 162px;
      height: 40px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0.25;
      content: "";
    }
  }
}
