.footer {
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    &__top {
        background-color: white;
        display: flex;
        padding-bottom: 80px;
        margin-bottom: 2px;
    }
    &__bottom {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__half1 {
        background-color: white;
    }
    &__half2 {
        background-color: white;
    }
    &__text {
        @extend %font-body;
        line-height: 24px;
        opacity: 0.75;
        padding-top: 17px;
    }
    &__column1 {
        width: 22%;
        padding-top: 100px;
    }
    &__column2 {
        width: 13%;
        padding-top: 104px;
        margin-left: 3.9%;
    }
    &__column3 {
        width: 10%;
        padding-top: 104px;
        margin-left: 4.2%;
    }
    &__column4 {
        width: 13%;
        padding-top: 104px;
        margin-left: 7.2%;
    }
    &__column5 {
        width: 22.4%;
        padding-top: 104px;
        margin-left: auto;
    }
    &__title {
        @extend %h3;
        padding-bottom: 21px;
        &_line-height_24 {
            padding-bottom: 18px;
        }
    }
    &__item {
        padding-bottom: 20px;
        &_line-height_24 {
            line-height: 24px;
            opacity: 0.75;
            @extend %font-body;
            padding-bottom: 22px;
        }
    }
    &__link {
        @extend %font-body;
        opacity: 0.5;
    }
    &__copyright {
        @extend %font-body;
        opacity: 0.75;
        padding: 26px 0;
    }
    &__input {
        @extend %font-body;
        opacity: 0.25;
        line-height: 24px;
        width: 100%;
        height: 44px;
        border-color: $dark25;
        border-width: 1px;
        padding-left: 15px;
        box-sizing: border-box;
        border-radius: 4px;
    }
}

// .footer__arrow {
//     position: relative;
// }

// .footer__defaultButton {
//     position: absolute;
//     left: -38px;
//     top: 8px;
//     background: #fff;
//     border: none;
//     cursor: pointer;
//     outline: none;
// }