extends ../../templates/template-uikit.pug
include ../../components/logo-uikit/logo-uikit.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/mobile-footer/mobile-footer.pug

block footerItems 
  - const footerItems = require('../../templates/footer-items.json')

block title
  title Headers-footers

block content
  .headers-footers
    .headers-footers__logo-uikit
      +logo-uikit()
    .headers-footers__header-not-registered-user
      +header({modifier: "notRegistered"})
    .headers-footers__header-registered-user
      +header({modifier: "Registered"})
    .headers-footers__footer-wide
      +footer(footerItems)
    .headers-footers__footer-tab
      +mobile-footer()
