@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../nullstyle.scss";
@import "Components/logo-uikit/logo-uikit.scss";
@import "Components/header/header.scss";
@import "Components/logo/logo.scss";
@import "Components/button/button.scss";
@import "Components/nav-menu/nav-menu.scss";
@import "Components/footer/footer.scss";
@import "Components/desktop-footer/desktop-footer.scss";
@import "Components/mobile-footer/mobile-footer.scss";
@import "Components/social-nets/social-nets.scss";
@import "Components/input/input.scss";

.headers-footers {
  background-color: #f4f4f6;
  &__header-not-registered-user {
    margin-top: 62px;
  }
  &__header-registered-user {
    margin-top: 40px;
  }
  &__logo-uikit {
    padding: 30px 0 0 30px;
  }
  &__footer-wide {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__footer-tab {
    max-width: 768px;
    margin: 0 auto;
    > :first-child {
      display: block;
    }
  }
}
