extends ../../templates/template-UIKit.pug
include ../../components/logo-UIkit/logo-UIkit.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-tab/footer-tab.pug

block footerItems 
  - const footerItems = require('../../templates/footer-items.json')

block title
  title Headers-footers

block content
  .headers-footers
    .headers-footers__logo-UIkit
      +logo-UIkit()
    .headers-footers__not-registered
      +header({style: "NotRegistered"})
    .headers-footers__registered
      +header({style: "Registered"})
    .headers-footers__footer-wide
      +footer(footerItems)
    .headers-footers__footer-tab
      +footer-tab()
