extends ../../templates/template-UIKit.pug
include ../../components/UIkit/logo-UIkit/logo-UIkit.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-tab/footer-tab.pug

block title
    title Headers-footers

block content
    .headers-footers
        .headers-footers__logo-UIkit
            +logo-UIkit()
        .headers-footers__not-registered
            +header({modifier: "NotRegistered"})
        .headers-footers__registered
            +header({modifier: "Registered"})
        .headers-footers__footer-wide
            +footer()
        .headers-footers__footer-tab
            +footer-tab()
