extends ../../templates/template-UIKit.pug
include ../../components/logo-UIkit/logo-UIkit.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/mobile-footer/mobile-footer.pug

block footerItems 
  - const footerItems = require('../../templates/footer-items.json')

block title
  title Headers-footers

block content
  .headers-footers
    .headers-footers__logo-UIkit
      +logo-UIkit()
    .headers-footers__header-not-registered-user
      +header({modifier: "notRegistered"})
    .headers-footers__header-registered-user
      +header({modifier: "Registered"})
    .headers-footers__footer-wide
      +footer(footerItems)
    .headers-footers__footer-tab
      +mobile-footer()
