extends ../../templates/UIkit_template.pug
include ../../common.blocks/UIkit/logoUIkit/logoUIkit.pug
include ../../common.blocks/pages/header/header.pug
include ../../common.blocks/pages/footer/footer.pug
include ../../common.blocks/pages/footerTab/footerTab.pug


block title
    title Headers-footers

block content
    .headers-footers
        .headers-footers__logoUIkit
            +logoUIkit()
        .headers-footers__headerNotRegistered
            +header({modificator: "NotRegistered"})
        .headers-footers__headerRegistered
            +header({modificator: "Registered"})
        .headers-footers__footerWide
            +footer()
        .headers-footers__footerTab
            +footerTab()
        +btn({modificator: "btn_longWithArrow", text: "Зарегистрируйся"})