extends ../../templates/UIkit_template.pug
include ../../common.blocks/pages/button/button.pug
include /../../common.blocks/pages/logo/logo.pug
include /../../common.blocks/pages/navMenu/navMenu.pug
include /../../common.blocks/pages/header/header.pug


block title
    title Headers-footers

block content
    .theme_dark
        include ../../common.blocks/UIkit/logo/logo.pug
        .headers
            .headers__notRegistered
                +headerNotRegistered()
            .headers__notRegistered
                +headerNotRegistered()
                    
                    
                    
                    
                    
                    
                    //- +btn({modificator: "btn_border", text: "click me"})
                    //- +btn({modificator: "btn_longWithArrow", text: "перейти к оплате"})  
                    //- +btn({modificator: "btn_gradient", text: "click me"})
                    //- +btn({modificator: "btn_iconLinkViolent", text: "click me"})
                    //- +btn({modificator: "btn_iconLinkBlack", text: "click me"})
                    //- +btn({modificator: "btn_gradientHeader", text: "зарегистрироваться"})
                    //- +btn({modificator: "btn_borderHeader", text: "войти"})
                    //- +logo()
                    //- +navMenu()