mixin social-nets()
  .social-nets
    a.social-nets__link(href='https://twitter.com/' target='_blank' rel='noopener noreferrer')
      img.social-nets__image(src=require('Components/social-nets/img/twitter.svg').default, alt='twitter')
    a.social-nets__link(href='https://fb.com/' target='_blank' rel='noopener noreferrer')
      img.social-nets__image(src=require('Components/social-nets/img/fb.svg').default, alt='facebook')
    a.social-nets__link(href='https://instagram.com/' target='_blank' rel='noopener noreferrer')
      img.social-nets__image(src=require('Components/social-nets/img/insta.svg').default, alt='instagram')