mixin social-nets()
    .social-nets
        a.social-nets__link(href='https://twitter.com/')
            img.social-nets__image(src=require("../../../src/components/social-nets/img/twitter.svg").default, alt="twitter")
        a.social-nets__link(href='https://fb.com/')
            img.social-nets__image(src=require("../../../src/components/social-nets/img/fb.svg").default, alt="facebook")
        a.social-nets__link(href='https://instagram.com/')
            img.social-nets__image(src=require("../../../src/components/social-nets/img/insta.svg").default, alt="instagram")