mixin social-nets()
    .social-nets
        a.social-nets__link(href='https://twitter.com/')
            img.social-nets__image(src="../../components/social-nets/img/twitter.svg", alt="twitter")
        a.social-nets__link(href='https://fb.com/')
            img.social-nets__image(src="../../components/social-nets/img/fb.svg", alt="facebook")
        a.social-nets__link(href='https://instagram.com/')
            img.social-nets__image(src="../../components/social-nets/img/insta.svg", alt="instagram")