include ../input/input.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../button/button.pug
include ../link/link.pug

mixin form-registration()
    form(action="#" method="post").form-registration.js-form-registration
        h1.form-registration__title Регистрация аккаунта
        .form-registration__name
            +input({name: 'Name', type: 'text', placeholder: 'Имя', required: 'required'})
        .form-registration__surname
            +input({name: 'Surname', type: 'text', placeholder: 'Фамилия', required: 'required'})
        .form-registration__gender
            +radio-buttons({list: ['Мужчина', 'Женщина'], required: 'required'})
        .form-registration__birthday
            +input({heading: 'Дата рождения', name: 'birthday', type: 'text', placeholder: 'ДД.ММ.ГГГГ', required: 'required'})
        .form-registration__enter
            .form-registration__email
                +input({heading: 'Данные для входа в сервис', name: 'E-mail', type: 'email', placeholder: 'Email', required: 'required'})
            .form-registration__password
                +input({name: 'Password', type: 'text', placeholder: 'Пароль', required: 'required'})
        .form-registration__offers
            +toggle({label: 'Получать спецпредложения'})    
        .form-registration__submit
            +button({modifier: 'button_size_long', text: 'Перейти к оплате', type: 'submit'})
        .form-registration_is-registered
            .form-registration_is-registered_on-toxin
                p.form-registration__text Уже есть аккаунт на Toxin
            .form-registration__sign-in
                +link({link: './sign-in.html', text: 'Войти', type: 'big'})
