.form-registration {
  box-sizing: border-box;
  max-width: 380px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
  &__title {
    margin-top: 8px;
    margin-bottom: 19px;

    @extend %h1;
  }
  &__name {
    margin-bottom: 10px;
  }
  &__surname {
    margin-bottom: 10px;
  }
  &__gender {
    margin-bottom: 45px;
  }
  &__email {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  &__offers {
    margin-top: 10px;
    margin-bottom: 17px;
    & .toggle__input {
      @media screen and (max-width: 330px) {
        vertical-align: top;
      }
    }
  }
  &__submit {
    margin-bottom: 29px;
  }
  &_is-registered {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    @extend %font-body;
    color: #000;
    @media screen and (max-width: 420px) {
      max-width: 140px;
    }
  }
}
