include ../input/input.pug
include ../button/button.pug

mixin log-in-form()
  form(action="#" method="post").log-in-form
    h1.log-in-form__title Войти
    .log-in-form__email
      +input({name: 'E-mail', type: 'email', placeholder: 'Email', required: 'required'})
    .log-in-form__password
      +input({name: 'Password', type: 'text', placeholder: 'Пароль', required: 'required'})
    .log-in-form__submit
      +button({assignment: 'button', style: 'directed', size: 'big', text: 'Войти', type: 'submit'})
    .log-in-form__registered
      .log-in-form__registered-on-Toxin
        p.log-in-form__text Нет аккаунта на Toxin?
      .log-in-form__link
        +button({assignment: 'reference', style: 'bordered', size: 'big', text: 'Создать', href: './registration.html'})