include ../input/input.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin registration-form()
  form(action="#" method="post").registration-form.js-registration-form
    h1.registration-form__title Регистрация аккаунта
    .registration-form__name
      +input({heading: '', description: '', name: 'Name', type: 'text', placeholder: 'Имя', required})
    .registration-form__surname
      +input({heading: '', description: '', name: 'Surname', type: 'text', placeholder: 'Фамилия', required})
    .registration-form__gender
      +radio-buttons({ title: '', list: [{ text: 'Мужчина', checked: true}, { text: 'Женщина'}] })
    .registration-form__birthday.js-registration-form__birthday
      +input({description: '', heading: 'Дата рождения', name: 'birthday', type: 'text', placeholder: 'ДД.ММ.ГГГГ', required})
    .registration-form__enter
      .registration-form__email
        +input({description: '', heading: 'Данные для входа в сервис', name: 'E-mail', type: 'email', placeholder: 'Email', required})
      .registration-form__password
        +input({heading: '', description: '', name: 'Password', type: 'text', placeholder: 'Пароль', required})
    .registration-form__offers
      +toggle({label: 'Получать спецпредложения', name: ''})    
    .registration-form__submit
      +button({assignment: 'button', style: 'directed', size: 'big', text: 'Перейти к оплате', type: 'submit'})
    .registration-form__login
      .registration-form__login-on-toxin
        p.registration-form__text Уже есть аккаунт на Toxin
      .registration-form__link
        +button({assignment: 'reference', style: 'bordered', size: 'big', text: 'Войти', href: './sign-in.html'})