include ../input/input.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../button/button.pug
include ../link/link.pug

mixin registration-form()
  form(action="#" method="post").registration-form.js-registration-form
    h1.registration-form__title Регистрация аккаунта
    .registration-form__name
      +input({name: 'Name', type: 'text', placeholder: 'Имя', required: 'required'})
    .registration-form__surname
      +input({name: 'Surname', type: 'text', placeholder: 'Фамилия', required: 'required'})
    .registration-form__gender
      +radio-buttons({list: ['Мужчина', 'Женщина'], required: 'required'})
    .registration-form__birthday
      +input({heading: 'Дата рождения', name: 'birthday', type: 'text', placeholder: 'ДД.ММ.ГГГГ', required: 'required'})
    .registration-form__enter
      .registration-form__email
        +input({heading: 'Данные для входа в сервис', name: 'E-mail', type: 'email', placeholder: 'Email', required: 'required'})
      .registration-form__password
        +input({name: 'Password', type: 'text', placeholder: 'Пароль', required: 'required'})
    .registration-form__offers
      +toggle({label: 'Получать спецпредложения'})    
    .registration-form__submit
      +button({style: 'directed', size: 'big', text: 'Перейти к оплате', type: 'submit'})
    .registration-form_is-registered
      .registration-form_is-registered_on-toxin
        p.registration-form__text Уже есть аккаунт на Toxin
      .registration-form__sign-in
        +link({link: './sign-in.html', text: 'Войти', type: 'big'})
