.header {
  background-color: white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  &__container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    &_opened {
      padding: 0;
    }
  }
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
  &__with-nav-menu-buttons {
    display: flex;
    align-items: center;
    @media screen and (max-width: 992px) {
      position: absolute;
      top: 65px;
      right: -110%;
      z-index: 3;
      display: none;
      width: 100%;
      overflow: auto;
      background: white;
      box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
      transition: all 0.4s ease;
    }
  }
  &__with-opened-menu {
    @media screen and (max-width: 992px) {
      right: 0;
      display: block;
    }
  }
  &__link {
    margin-right: 20px;
    @media screen and (max-width: 992px) {
      display: none;
    }
    & .btn_with-border {
      width: 83px;
      height: 29px;
    }
    & .btn__text {
      line-height: 20px;
    }
  }
  &__link-sign {
    width: 196px;
    @media screen and (max-width: 992px) {
      display: none;
    }
    & .btn_color_gradient {
      width: 100%;
      height: 34px;
    }
  }
  &__line {
    height: 30px;
    margin-right: 20px;
    border-color: $dark100;
    border-left: 1px solid;
    opacity: 0.1;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__user-name {
    @extend %font-body;

    opacity: 0.5;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: 992px) {
      position: relative;
      display: block;
      width: 40px;
      height: 35px;
      & span,
      &::after,
      &::before {
        position: absolute;
        width: 100%;
        height: 3px;
        margin: 0 auto;
        background: #515758;
      }
      & span {
        top: 16px;
      }
      &::after,
      &::before {
        content: "";
      }
      &::after {
        bottom: 5px;
      }
      &::before {
        top: 5px;
      }
    }
    &_opened {
      margin-left: 20px;
    }
  }
  &_with-opened-burger {
    @media screen and (max-width: 992px) {
      & span {
        opacity: 0;
        transition: 0.5s;
      }
      &::before {
        top: 16px;
        transform: rotate(38deg);
        transition: 0.4s;
      }
      &::after {
        bottom: 16px;
        transform: rotate(-38deg);
        transition: 0.4s;
      }
    }
  }
  & .checkmark,
  & .nav-menu__sub-list {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  & .nav-menu__list {
    @media screen and (max-width: 992px) {
      display: block;
      text-align: left;
    }
  }
  & .nav-menu__list li {
    @media screen and (max-width: 992px) {
      margin: 40px 0 40px 20px;
    }
  }
}

.fixed-page {
  overflow: hidden;
}
