include ../button/button.pug
include ../logo/logo.pug
include ../nav-menu/nav-menu.pug

mixin header(options)
  - const {modifier} = options
  - const menuItems = require('../../templates/menu-items.json')
  header.header.js-header
    .header__container.js-header__container
      .header__content
        a.header__link(href="./landing-page.html") 
          +logo()
        .header__with-nav-menu-buttons.js-header__with-nav-menu-buttons
          +nav-menu(menuItems)
          if modifier == "Registered"
            .header__line
            .header__user-name Юлий Цезарь
          else
            .header__link
              +button({assignment: 'reference', style: 'bordered', size: 'small', text: 'Войти', href: './sign-in.html'})
            .header__link-sign
              +button({assignment: 'reference', style: 'solid', size: 'small', text: 'Зарегистрироваться', href: './registration.html'})
        .header__burger.js-header__burger
          span.header__burger-element