include ../btn/btn.pug
include ../logo/logo.pug
include ../nav-menu/nav-menu.pug

//- if user is registered, enter in mixins argument "Registered"
mixin header(options)
    -   const {modifier} = options
    - const menuItems = require('../../templates/menu-items.json')
    .header.js-header
        .header__container
            .header__content
                a.header__link(href="./landing-page.html") 
                    +logo()
                .header__nav-menu-buttons.js-header__nav-menu-buttons
                    +nav-menu(menuItems)
                    if modifier == "Registered"
                        .header__line
                        .header__user-name Юлий Цезарь
                    else
                        .header__button
                            a.header__link(href="./sign-in.html") 
                                +btn({modifier: "small-btn_with_border", text: "войти"})
                        .header__button-sign
                            a.header__link(href="./registration.html") 
                                +btn({modifier: "small-btn_color_gradient", text: "зарегистрироваться"})
                .header__burger.js-header__burger
                    span