include ../input/input.pug
include ../btn/btn.pug

mixin form-log-in()
    form(action="#").form-log-in
        h1.form-log-in__title Войти
        .form-log-in__email
            +input({name: 'E-mail', type: 'email', placeholder: 'Email', required: 'required'})
        .form-log-in__password
            +input({name: 'Password', type: 'text', placeholder: 'Пароль', required: 'required'})
        .form-log-in__submit
            +btn({modifier: 'btn_size_long', text: 'Войти', type: 'submit'})
        .form-log-in__registered
            .form-log-in__registered-on-Toxin
                p.form-log-in__text Нет аккаунта на Toxin?
            .form-log-in__btn
                a.form-log-in__link(href="./registration.html") 
                    +btn({modifier: 'btn_with-border', text: 'Создать', type: 'button'})        
