include ../logo/logo.pug
include ../social-nets/social-nets.pug

mixin footer-tab()
    .footer-tab
        .footer-tab__content
            +logo()
            p.footer-tab__text Copyright © 2018 Toxin отель. Все права зачищены.
            .footer-tab__social-nets
                +social-nets()