mixin socialNets()
    .socialNets
        a.socialNets__link(href='https://twitter.com/')
            img.socialNets__image(src="../../common.blocks/pages/socialNets/img/twitter.svg", alt="twitter")
        a.socialNets__link(href='https://fb.com/')
            img.socialNets__image(src="../../common.blocks/pages/socialNets/img/fb.svg", alt="facebook")
        a.socialNets__link(href='https://instagram.com/')
            img.socialNets__image(src="../../common.blocks/pages/socialNets/img/insta.svg", alt="instagram")