include ../logo/logo.pug
include ../social-nets/social-nets.pug
include ../input/input.pug

mixin footer-big(footerItems)
  .footer-big
      .footer-big__top
        .footer-big__container
          .footer-big__content
            .footer-big__logo
              +logo()
              p.footer-big__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            each section in footerItems
              div(class="footer-big__" + section.name)
                ul.footer-big__list
                  li.footer-big__title= section.title
                  each title in section.items
                    li.footer-big__item
                      a.footer-big__link(href=title.href)=title.item
            .footer-big__subscription
              ul.footer-big__subscription-content
                li.footer-big__title.footer-big__title_line-height_24 Подписка
                li.footer-big__item_line-height_24 Получайте специальные предложения и новости сервиса
                li.footer-big__item
                  form.footer-big__form(action="https://www.mock-link.com/")
                    +input({name: 'email', type: 'email', placeholder: 'Email', required: true, subscription: true})                                        
      .footer-big__bottom
        .footer-big__container
          .footer-big__main
            p.footer-big__copyright Copyright © 2018 Toxin отель. Все права зачищены.
            .footer-big__social
              +social-nets()