.bullet-list {
  &__name {
    @extend %h3;
    margin-bottom: 13px;
  }
  &__item {
    @extend %font-body;
    margin-bottom: 10px;
    color: $dark75;
    line-height: 24px;
    letter-spacing: -0.1px;
    &::before {
      display: inline-block;
      width: 10.43px;
      height: 10px;
      margin-right: 11px;
      background: $dark25;
      border-radius: 5px;
      content: "";
    }
  }
}
