mixin bullet-list(options = {})
  - const { name = '', list = ['Нельзя с питомцами', 'Без вечеринок и мероприятий'] } = options
  
  .bullet-list
    if name
      h3.bullet-list__name= name
    ul.bullet-list__list
      each nameOfItem in list
        li.bullet-list__item= nameOfItem