/* Font Quicksand-Bold CSS */
@font-face {
	font-family: 'Conv_Quicksand-Bold';
	src: url('../../fonts/Quicksand-Bold.eot');
	src: local('☺'), url('../../fonts/Quicksand-Bold.woff') format('woff'), url('../../fonts/Quicksand-Bold.ttf') format('truetype'), url('../../fonts/Quicksand-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Font Quicksand-Regular CSS */
@font-face {
	font-family: 'Conv_Quicksand-Regular';
	src: url('../../fonts/Quicksand-Regular.eot');
	src: local('☺'), url('../../fonts/Quicksand-Regular.woff') format('woff'), url('../../fonts/Quicksand-Regular.ttf') format('truetype'), url('../../fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Font Montserrat-Bold CSS */
@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('../../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../../fonts/Montserrat-Bold.woff') format('woff'), url('../../fonts/Montserrat-Bold.ttf') format('truetype'), url('../../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Font Montserrat-Regular CSS */
@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('../../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../../fonts/Montserrat-Regular.woff') format('woff'), url('../../fonts/Montserrat-Regular.ttf') format('truetype'), url('../../fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
	font-style: normal;
}


body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Header */
.header__logo {
    padding: 30px 0 67px 30px;
}

.logo {
    display: block;    
}

/* Body */
.content__item {
    display: flex;
    justify-content: space-between;
    margin: 0 191px 0 150px;
}

/* Colors-block */
.colors__item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.color-block {
    font-size: 19px;
}

.color-block__description {
    margin-left: 40px;
}

.color-block__color {
    border-radius: 6px;
    height: 70px;
    width: 70px;
}

.color-block__color_dark_100 {
    background-color: #1F2041;
    opacity: 100%;
}

.color-block__color_dark_75 {
    background-color: #1F2041;
    opacity: 75%;
}

.color-block__color_dark_50 {
    background-color: #1F2041;
    opacity: 50%;
}

.color-block__color_dark_25 {
    background-color: #1F2041;
    opacity: 25%;
}

.color-block__color_dark_5 {
    background-color: #1F2041;
    opacity: 5%;
}

.color-block__color_purple {
    background-color: #BC9CFF;
}

.color-block__color_green {
    background-color: #6FCF97;
}

.color-block__name {
    font-family: 'Conv_Quicksand-Bold', sans-serif;
    margin-bottom: 6px;
}

.color-block__hex {
    font-family: 'Conv_Quicksand-Regular',Sans-Serif;
    color: rgb(198, 198, 212);
}

/* Type-block */
.types__item {
    display: flex;
    margin-bottom: 50px;
}

.type-block_fsize_24 {
    font-size: 24px;
}

.type-block_fsize_19 {
    font-size: 19px;
}

.type-block_fsize_12 {
    font-size: 12px;
}

.type-block_fsize_14 {
    font-size: 14px;
}

.type-block__name {
    font-family: 'Conv_Montserrat-Regular';
    color: #1F2041;
    opacity: 25%;
    margin-right: 30px;
    width: 40px;
    text-align: right;
}

.type-block__description_quicksandBold {
    font-family: 'Conv_Quicksand-Bold';
    color: #1F2041;
}

.type-block__description_montserratBold {
    font-family: 'Conv_Montserrat-Bold';
    color: #1F2041;
    text-transform: uppercase;
}

.type-block__description_montserratReg {
    font-family: 'Conv_Montserrat-Regular';
    color: #1F2041;
    opacity: 75%;
    line-height: 1.55em;
}