include ../desktop-footer/desktop-footer.pug
include ../mobile-footer/mobile-footer.pug

mixin footer(footerItems = [{"name": "about", "title": "О нас", "items": [{ "item": "О нас", "href": "https://www.mock-link.com/"}]}])
  footer.footer
    +desktop-footer(footerItems)
    +mobile-footer()