@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../nullstyle.scss";
@import "Components/logo-uikit/logo-uikit.scss";
@import "Components/input/input.scss";
@import "Components/dropdown/dropdown.scss";
@import "Components/button/button.scss";
@import "Components/counter/counter.scss";
@import "Components/date-dropdown/date-dropdown.scss";
@import "Components/checkbox-list/checkbox-list.scss";
@import "Components/room-info/room-info.scss";
@import "Components/radio-buttons/radio-buttons.scss";
@import "Components/toggle/toggle.scss";
@import "Components/like-button/like-button.scss";
@import "Components/rate-button/rate-button.scss";
@import "Components/bullet-list/bullet-list.scss";
@import "Components/review/review.scss";
@import "Components/pagination/pagination.scss";
@import "Components/range-slider/range-slider.scss";

.form-elements {
  &__logo-uikit {
    padding: 30px 0 0 30px;
  }
  &__items {
    display: flex;
    margin: 85px 0 90px 141px;
  }
  &__second-column {
    margin-top: -20px;
  }
  &__first-column {
    margin-right: 126px;
  }
  &__buttons {
    display: flex;
  }
  &__sub-column1,
  &__sub-column2,
  &__first-column {
    width: 320px;
  }
  &__sub-column2 {
    margin-left: 71px;
  }
  &__element {
    margin-bottom: 41px;
    &_expanded {
      width: 266px;
      margin-bottom: 167px;
    }
    &_not-expanded {
      width: 266px;
      margin-top: 120px;
      margin-bottom: 40px;
    }
  }
  &__datepicker {
    margin-top: 60px;
    &_range-in-one-input {
      width: 266px;
      margin-bottom: 62px;
    }
  }
  &__like-buttons {
    position: relative;
    display: flex;
  }
  &__like-button {
    &_clicked {
      position: absolute;
      bottom: 0;
      left: 50px;
    }
  }
  &__rate-button {
    position: relative;
    display: flex;
    margin-bottom: 207px;
    > :nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 140px;
    }
  }
  &__dropdown {
    &_with-guests {
      margin-bottom: 255px;
    }
  }
  &__button-title,
  &__pagination-title {
    @extend %h3;
  }

  &__button-row1 {
    display: flex;
    margin-top: 15px;
    margin-bottom: 31px;
    > :first-child {
      margin-right: 20px;
    }
  }
  &__button-row2 {
    display: flex;
    > :first-child {
      margin-right: 20px;
    }
  }
  &__button-row3 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 31px;
    margin-left: 2px;
    > :first-child {
      margin-right: 20px;
    }
  }
  &__button_hovered {
    opacity: 0.5;
  }
  &__subscription-input {
    width: 266px;
  }
  &__checkbox-list {
    &_not-expandable {
      margin-bottom: 40px;
    }
  }
  &__room-details {
    margin-top: 53px;
  }
  &__toggle {
    margin-bottom: 38px;
    &_checked {
      margin-bottom: 8px;
    }
  }
  &__review {
    width: 710px;
    margin-top: 191px;
  }
  &__range-slider {
    width: 267px;
    margin-top: 8px;
    margin-bottom: -16px;
  }
  &__all-button {
    margin-bottom: 40px;
  }
  &__pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 257px;
  }
  &__opened-dropdown_with-guests {
    margin-bottom: 257px;
  }
  &__radio-buttons {
    padding-top: 6px;
  }
  &__bullet-list {
    width: 260px;
  }
}
