// Подключение базы данных цветов
@import "../../colors.scss";
// Подключение базы данных шрифтов
@import "../../fonts.scss";
// Подключение nullstyle
@import "../../nullstyle.scss";
// Content
@import "../../common.blocks/pages/header/header.scss";
@import "../../common.blocks/pages/logo/logo.scss";
@import "../../common.blocks/pages/container/container.scss";
@import "../../common.blocks/pages/button/button.scss";
@import "../../common.blocks/pages/navMenu/navMenu.scss";
@import "../../common.blocks/pages/footer/footer.scss";
@import "../../common.blocks/pages/socialNets/socialNets.scss";
@import "../../common.blocks/pages/arrow/arrow.scss";
@import "../../common.blocks/pages/checkmark/checkmark.scss";
@import "../../common.blocks/pages/input/input.scss";
@import "../../common.blocks/pages/footerTab/footerTab.scss";
@import "../../common.blocks/pages/room-details/room-details.scss";
@import "../../common.blocks/pages/review/review.scss";
@import "../../common.blocks/pages/like-button/like-button.scss";
@import "../../common.blocks/pages/bullet-list/bullet-list.scss";
@import "../../common.blocks/pages/diagram/diagram.scss";

.roomDetails {
    &__foto {
        height: 485px;
        width: 100%;
        display: flex;
    }
    &__foto-part1 {
        height: 100%;
        width: 100%;
        flex-shrink: 1;
    }
    &__foto-part2 {
        height: 100%;
        width: 100%;
        flex-shrink: 2.14;
        display: flex;
        flex-direction: column;
    }
    &__foto-part2-el1 {
        height: 50%;
        & img {
            transform: scale(-1, 1)
        }
    }
    &__foto-part2-el2 {
        height: 50%;
    }
    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &__total {
        display: flex;
    }
    &__column1 {
        display: flex;
        flex-wrap: wrap;
    }
    &__impression {
        width: 311px;
    }
    &__review {
        max-width: 712px;
    }
    &__reviewTitle {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 19px;
    }
    &__reviewText {
        @extend %h2;
    }
    &__reviewNumberOfReviews {
        @extend %font-body;
        color: $dark50;
    }
    &__reviewBlockItem {
        margin-bottom: 23px;
    }
    &__rulesList {
        max-width: 292px;
    }
    &__rulesTitle {
        @extend %h2;
        margin-left: 21px;
        margin-bottom: 16px;
    }
    &__cancel {
        max-width: 342px;
    }
    &__cancelTitle {
        @extend %h2;
        margin-bottom: 16px;
    }
    &__cancelText {
        @extend %font-body;
        color: $dark75;
        line-height: 24px;
    }
}
