.room-info {
  max-width: 260px;
  &__title {
    @extend %h2;
    margin-bottom: 19px;
  }
  &__all {
    display: flex;
    border-bottom: solid 1px rgba(31, 32, 65, 0.05);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  &__text {
    margin: 3px 0 0 10px;
  }
  &__image {
    font-family: "Conv_MaterialIcons-Regular";
    font-weight: normal;
    font-style: normal;
    font-size: 48px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #bc9cff;

    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
  }
  &__name {
    @extend %h3;
    font-size: 14px;
    text-transform: initial;
    color: $dark75;
    margin-bottom: 6px;
  }
  &__description {
    @extend %font-body;
    color: $dark75;
  }
}
