mixin room-info(options = {})
  - 
    const { title = 'Сведения о номере', roomInfo = 
      [
        { name:'Комфорт', description: 'Шумопоглощающие стены', image: 'insert_emoticon' }, 
        { name:'Удобство', description: 'Окно в каждой из спален', image: 'location_city' },
        { name:'Уют', description: 'Номер оснащён камином', image: 'whatshot' }
      ]
    } = options
  
  .room-info
    if title
      h2.room-info__title= title
    each item in roomInfo
      - const { image, name, description } = item
      .room-info__all
        .room-info__image= image
        .room-info__text
          h3.room-info__name= name
          p.room-info__description= description