.room-info {
  max-width: 260px;
  &__title {
    @extend %h2;

    margin-bottom: 19px;
  }
  &__all {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(31, 32, 65, 0.05);
  }
  &__text {
    margin: 3px 0 0 10px;
  }
  &__image {
    display: inline-block;
    color: #bc9cff;
    font-weight: normal;
    font-size: 48px;
    font-family: "MaterialIcons-Regular";
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
  }
  &__name {
    @extend %h3;

    margin-bottom: 6px;
    color: $dark75;
    font-size: 14px;
    text-transform: initial;
  }
  &__description {
    @extend %font-body;

    color: $dark75;
  }
}
