//-
  options.title - main title
  options.roomInfo.name - name of item
  options.roomInfo.description - description of item
  options.roomInfo.image - image of item

mixin room-info(options)
  - const { title, roomInfo } = options
  .room-info
    if title
      h2.room-info__title= title
    each item in roomInfo
      .room-info__all
        .room-info__image= item.image
        .room-info__text
          h3.room-info__name= item.name
          p.room-info__description= item.description