mixin toggle(options)
  - const { name = 'Toggle', label = 'Получать спецпредложения' } = options
  
  .toggle
    if name
      h3.toggle__name= name
    .toggle__item
      label.toggle__label
        input.toggle__input(type='checkbox', name='Special offers')
        span.toggle__text= label
