.toggle {
  padding-bottom: 10px;
  user-select: none;
  &__name {
    @extend %h3;
    margin-bottom: 15px;
  }
  &__text {
    padding-left: 50px;
  }
  &__input {
    position: relative;
    width: 0;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
    &::before {
      display: inline-block;
      box-sizing: border-box;
      width: 40px;
      height: 20px;
      border: solid 1px $dark25;
      border-radius: 10px;
      content: "";
    }
    &::after {
      position: absolute;
      top: 4px;
      left: 5px;
      width: 12px;
      height: 12px;
      background-color: $dark25;
      border-radius: 10px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      content: "";
    }
    &:checked::before {
      border-color: $purple;
    }
    &:checked::after {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
  &__label {
    display: flex;
    color: $dark75;
    cursor: pointer;
    @extend %font-body;
  }
}
