<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Content of project
        h3 UI-kit
        a(href="./UI-kit/colors-type/index.pug") Colors-type
        br
        a(href="./UI-kit/formElements/index.pug") Form elements
        br
        a(href="./UI-kit/cards/index.pug") Cards
        br
        a(href="./UI-kit/headers-footers/index.pug") Headers-footers

        h3 Pages
        a(href="./pages/landingPage/index.pug") Landing page
        br
        a(href="./pages/searchRoom/index.pug") Search room
        br
        a(href="./pages/roomDetails/index.pug") Room details
        br
        a(href="./pages/registration/index.pug") Registration
        br
        a(href="./pages/signIn/index.pug") Sign in

