<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Content of project
        h3 UI-kit
        a(href="./UI-kit/colors-type/index.pug") Colors-type
        br
        a(href="./UI-kit/headers-footers/index.pug") Headers-footers

        h2 Pages of project