<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Content of project
    body
        .content
            h1.content__mainTitle Content of project
            .content__UIKit(style="display: flex; flex-direction: column")
                h3.content__title UI-kit
                a.content__item(href="./UI-kit/colors-type/index.pug") Colors-type
                a.content__item(href="./UI-kit/form-elements/index.pug" ) Form elements
                a.content__item(href="./UI-kit/cards/index.pug") Cards
                a.content__item(href="./UI-kit/headers-footers/index.pug") Headers-footers
            .content__pages(style="display: flex; flex-direction: column")
                h3.content__title Pages
                a.content__item(href="./pages/landing-page/index.pug") Landing page
                a.content__item(href="./pages/search-room/index.pug") Search room
                a.content__item(href="./pages/room-details/index.pug") Room details
                a.content__item(href="./pages/registration/index.pug") Registration
                a.content__item(href="./pages/sign-in/index.pug") Sign in