<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Content of project
    body
        .content
            h1.content__mainTitle Content of project
            .content__UIKit(style="display: flex; flex-direction: column")
                h3.content__title UI-kit
                a.content__item(href="./UI-kit/colors-type/index.html") Colors-type
                a.content__item(href="./UI-kit/form-elements/index.html" ) Form elements
                a.content__item(href="./UI-kit/cards/index.html") Cards
                a.content__item(href="./UI-kit/headers-footers/index.html") Headers-footers
            .content__pages(style="display: flex; flex-direction: column")
                h3.content__title Pages
                a.content__item(href="./pages/landing-page/index.html") Landing page
                a.content__item(href="./pages/search-room/index.html") Search room
                a.content__item(href="./pages/room-details/index.html") Room details
                a.content__item(href="./pages/registration/index.html") Registration
                a.content__item(href="./pages/sign-in/index.html") Sign in