//- 
    options.name - title of buttons list
    options.expandable - if list is expandable
    options.richCheckbox - if list is rich checkbox buttons
    options.list[0...i] - name of buttons
    
mixin checkbox-button(options)
  - const {name, expandable, richCheckbox, list, sublist, forLabel} = options
  - const styles = expandable ? "checkbox-button__expandable-form js-checkbox-button__expandable-form" : "checkbox-button__form";

  .checkbox-button.js-checkbox-button
    div(class = expandable ? "checkbox-button__expandable-name js-checkbox-button__expandable-name" : "checkbox-button__name")
      .checkbox-button__title= name
      if expandable
        span.checkbox-button__checkmark.js-checkbox-button__checkmark expand_more
    form(
      name = richCheckbox ? "richCheckbox-button" : "checkbox-button" 
      method = "get"
      class = styles
    )
      each nameOfButton in list
        .checkbox-button__item
          label.checkbox-button__label
            input.checkbox-button__input(type="checkbox")
            span.checkbox-button__indicator
            if richCheckbox
              span.checkbox-button__text.checkbox-button__text_rich= nameOfButton
              span.checkbox-button__sublabel= sublist[list.indexOf(nameOfButton)]
            else
              span.checkbox-button__text= nameOfButton

      

