mixin type-block(options)
    -   
        var modificatorFontsize = options.modificatorFontsize
        var modificatorDescription = options.modificatorDescription
        var shiftedMarginBottom = "types__item"
        shiftedMarginBottom += options.shiftedMargin ? " types__item_shift" : ""

    div(class = "type-block" class = shiftedMarginBottom)
        p(class = "type-block__name" class = modificatorFontsize )= options.name
        p(class = "type-block__description" class = modificatorDescription)= options.description