extends ../../templates/template-uikit.pug
include ../../components/logo-uikit/logo-uikit.pug
include ../../components/room-search-form/room-search-form.pug
include ../../components/registration-form/registration-form.pug
include ../../components/confirmation-form/confirmation-form.pug
include ../../components/log-in-form/log-in-form.pug
include ../../components/room/room.pug
include ../../components/date-dropdown/date-dropdown.pug

block title
  title Cards

block content
  .cards
    .cards__logo-uikit
      +logo-uikit()
    .cards__items
      .cards__room-search.js-cards__room-search
        +room-search-form()
      .cards__registration.js-cards__registration
        +registration-form()
      .cards__confirmation.js-cards__confirmation
        +confirmation-form({ roomNumber: '888', roomType: 'люкс', costPerDay: '9 990₽', unit: 'в сутки', calculation: '9 990₽ х 4 суток', costForStaying: '39 960₽', discount: '2 179₽', serviceFee: '0₽', additionalServiceFee: '300₽', totalCost: '38 081₽' })
      .cards__log-in
        +log-in-form()
      .cards__datepicker.js-cards__datepicker
        +date-dropdown()
      .cards__room.js-cards__room
        +room({addressOfRoom: 'room1', images: ["image11", "image12", "image13", "image14"], roomNumber: '888', lux: true, price: '9 990₽', rate: '5', numberOfReviews: '145'})
      .cards__room.js-cards__room
        +room({addressOfRoom: 'room2', images: ["image21", "image22", "image23", "image24"], roomNumber: '840', price: '9 990₽', rate: '4', numberOfReviews: '65'})
