.link {
  text-align: center;
  @extend %h3;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  letter-spacing: -0.01em;
  border: double 2px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: opacity .4s ease;
  &:hover {
    opacity: 0.5;
    transition: opacity .4s ease;
  }
  &_size_big {
    line-height: 40px;
    height: 45px;
    width: 95px;
    background-image: linear-gradient(white, white),
    linear-gradient(to bottom, $purple, #8ba4f9);
    color: $purple;
    border-radius: 26px;
  }
  &_size_small {
    line-height: 32px;
    height: 34px;
    width: 95px;
    background-image: linear-gradient(white, white),
    linear-gradient(to bottom, $purple, #8ba4f9);
    color: $purple;
    border-radius: 26px;
  }
  &_color_purple {
    line-height: 32px;
    height: 36px;
    width: 196px;
    background-image: linear-gradient(to bottom, $purple, #8ba4f9);
    color: #ffffff;
    border-radius: 22px;
  }
}
