.link {
  display: block;
  box-sizing: border-box;
  letter-spacing: -0.01em;
  text-align: center;
  background-clip: content-box, border-box;
  background-origin: border-box;
  border: double 2px transparent;
  cursor: pointer;
  transition: opacity 0.4s ease;
  @extend %h3;
  &:hover {
    opacity: 0.5;
    transition: opacity 0.4s ease;
  }
  &_size_big {
    width: 95px;
    height: 45px;
    color: $purple;
    line-height: 40px;
    background-image: linear-gradient(white, white),
      linear-gradient(to bottom, $purple, #8ba4f9);
    border-radius: 26px;
  }
  &_size_small {
    width: 95px;
    height: 34px;
    color: $purple;
    line-height: 32px;
    background-image: linear-gradient(white, white),
      linear-gradient(to bottom, $purple, #8ba4f9);
    border-radius: 26px;
  }
  &_color_purple {
    width: 196px;
    height: 36px;
    color: #fff;
    line-height: 32px;
    background-image: linear-gradient(to bottom, $purple, #8ba4f9);
    border-radius: 22px;
  }
}
