.room-search-form {
  box-sizing: border-box;
  max-width: 380px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
  &__title {
    margin-top: 9px;
    margin-bottom: 38px;
    line-height: 132%;
    @extend %h1;
  }
  &__dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }
  &__submission {
    margin-top: 32px;
  }
}
