include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug


mixin room-search-form()
  form(action="#" method="post").room-search-form.js-room-search-form
    h1.room-search-form__title Найдём номера под ваши пожелания
    .room-search-form__dates
      .room-search-form__check-in
        +date-dropdown({heading1: 'Прибытие', heading2: 'Выезд', name: 'Dates in 2 inputs'})
    .room-search-form__guests
      +dropdown(({
        name: 'guests', 
        dropdownType: 'withButtons', 
        heading: 'Гости', 
        value: 'Сколько гостей',
        items: [
          {
            name: 'adults', 
            sign: 'взрослые', 
            declination: 'взрослый, взрослых, взрослых'
          },{
            name: 'children', 
            sign: 'дети', 
            declination: 'дети, детей, детей',
          },{
            name: 'infants', 
            sign: 'младенцы', 
            declination: 'младенец, младенца, младенцев'
          },
        ],
        declination: 'гость, гостя, гостей',
      }))
    .room-search-form__submission
      +button({modifier: 'button_size_long', text: 'Подобрать номер', type: 'submit'})