.footerTab {
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    max-width: 768px;
    height: 367px;
    margin: auto;
    background-color: #fff;
    display: flex;
    &__content {
        margin: auto;
        text-align: center;
    }
    &__text {
        @extend %font-body;
        opacity: 0.75;
        padding: 20px 0 24px;
    }
    &__socialNets {
        padding-right: 22px;
    }
}